<?xml version="1.0" encoding="utf-8"?>
<Menu Basic="个人事务,行政办公,人事管理,工程管理,材料管理,财务管理,报表模块,工作流,系统管理" BasicName="个人事务,行政办公,人事管理,工程管理,材料管理,财务管理,报表模块,工作流,系统管理" BasicIcon=",,,,,,,,">
  <Node ID="a6a8006f-aa88-49eb-8c60-f3157168ebc6" Basic="行政办公">
    <MenuID>a6a8006f-aa88-49eb-8c60-f3157168ebc6</MenuID>
    <Icon>icon-sys</Icon>
    <MenuName>申请</MenuName>
    <Url>/</Url>
    <Menus>
      <ChildNode ID="045cd008-7cc4-4fd1-a673-e6d9171fb78e">
        <MenuID>045cd008-7cc4-4fd1-a673-e6d9171fb78e</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>公告通知</MenuName>
        <Url>/bgAnnouncement/I</Url>
      </ChildNode>
      <ChildNode ID="bd2f48a5-0b46-4c8f-b3a2-877cf2e4afd1">
        <MenuID>bd2f48a5-0b46-4c8f-b3a2-877cf2e4afd1</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>简报</MenuName>
        <Url>/bgBriefReport/I</Url>
      </ChildNode>
      <ChildNode ID="6f8baee1-07df-4a12-9027-6781f33a4e4f">
        <MenuID>6f8baee1-07df-4a12-9027-6781f33a4e4f</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>会议纪要</MenuName>
        <Url>/bgMeetingSummary/I</Url>
      </ChildNode>
      <ChildNode ID="52598f50-c5d4-493f-893a-b039f1889ada">
        <MenuID>52598f50-c5d4-493f-893a-b039f1889ada</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>党务发文</MenuName>
        <Url>/bgPartyNews/I</Url>
      </ChildNode>
      <ChildNode ID="577c2327-27f5-4960-a3eb-5fd16ff188ca">
        <MenuID>577c2327-27f5-4960-a3eb-5fd16ff188ca</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>公司文件</MenuName>
        <Url>/bgCompanyFile/I</Url>
      </ChildNode>
      <ChildNode ID="66e1b74f-070b-4583-8f72-35d625ea53d6">
        <MenuID>66e1b74f-070b-4583-8f72-35d625ea53d6</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>企业要闻</MenuName>
        <Url>/bgEnterpriseNews/I</Url>
      </ChildNode>
      <ChildNode ID="51015f6d-b71a-4107-94ae-e36bf3428d97">
        <MenuID>51015f6d-b71a-4107-94ae-e36bf3428d97</MenuID>
        <Icon>icon-sys</Icon>
        <MenuName>会议申请</MenuName>
        <Url>/bgMeetingNotice/I</Url>
      </ChildNode>
      <ChildNode ID="a07d64dd-7487-4ac9-8bae-d3781ceab17d">
        <MenuID>a07d64dd-7487-4ac9-8bae-d3781ceab17d</MenuID>
        <Icon>icon-sys</Icon>
        <MenuName>用车申请</MenuName>
        <Url>/bgUseCar/I</Url>
      </ChildNode>
      <ChildNode ID="dccb95c9-46dd-4f5d-9fd2-800586fba01c">
        <MenuID>dccb95c9-46dd-4f5d-9fd2-800586fba01c</MenuID>
        <Icon>incn-nav</Icon>
        <MenuName>用章申请</MenuName>
        <Url>/bgUseStamp/I</Url>
      </ChildNode>
      <ChildNode ID="1db2cd66-41a5-475e-9ef7-7a3a3ac99a9d">
        <MenuID>1db2cd66-41a5-475e-9ef7-7a3a3ac99a9d</MenuID>
        <Icon>icon-sys</Icon>
        <MenuName>招标文件会签</MenuName>
        <Url>/bgTenderDocCountersign/I</Url>
      </ChildNode>
      <ChildNode ID="710a4ea9-4e08-41f4-be12-a2a43c274801">
        <MenuID>710a4ea9-4e08-41f4-be12-a2a43c274801</MenuID>
        <Icon>icon-sys</Icon>
        <MenuName>合同会签</MenuName>
        <Url>/bgContractCountersign/I</Url>
      </ChildNode>
      <ChildNode ID="afe35859-4876-4744-a735-a5994033bf78">
        <MenuID>afe35859-4876-4744-a735-a5994033bf78</MenuID>
        <Icon>icon-sys</Icon>
        <MenuName>工作流程设置申请单</MenuName>
        <Url>/bgProjectWorflowSetting/I</Url>
      </ChildNode>
      <ChildNode ID="1338fe2a-1418-4e7a-9a87-12fbf480f329">
        <MenuID>1338fe2a-1418-4e7a-9a87-12fbf480f329</MenuID>
        <Icon>icon-sys</Icon>
        <MenuName>开通网络</MenuName>
        <Url>/bgOpenNetwork/I</Url>
      </ChildNode>
      <ChildNode ID="5116c2a0-b7df-4162-8e53-99982434e185">
        <MenuID>5116c2a0-b7df-4162-8e53-99982434e185</MenuID>
        <Icon>icon-sys</Icon>
        <MenuName>数据变更</MenuName>
        <Url>/bgDataChange/I</Url>
      </ChildNode>
      <ChildNode ID="72c798fb-5eb8-4621-aa11-2e33aa4e788a">
        <MenuID>72c798fb-5eb8-4621-aa11-2e33aa4e788a</MenuID>
        <Icon>icon-sys</Icon>
        <MenuName>办公设备领用</MenuName>
        <Url>/bgDeviceUsage/I</Url>
      </ChildNode>
      <ChildNode ID="68efb8e2-a70e-4141-9e8a-26c5c37f76b0">
        <MenuID>68efb8e2-a70e-4141-9e8a-26c5c37f76b0</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>设备维修</MenuName>
        <Url>/bgDeviceMaintenance/I</Url>
      </ChildNode>
      <ChildNode ID="4a20c9ea-fcb5-4317-ab9b-7222cf1d9a7b">
        <MenuID>4a20c9ea-fcb5-4317-ab9b-7222cf1d9a7b</MenuID>
        <Icon>icon-sys</Icon>
        <MenuName>请示报告</MenuName>
        <Url>/askforReport/I</Url>
      </ChildNode>
      <ChildNode ID="b46b4314-ac48-4da2-a87e-38bdccd7c797">
        <MenuID>b46b4314-ac48-4da2-a87e-38bdccd7c797</MenuID>
        <Icon>icon-sys</Icon>
        <MenuName>领用结果</MenuName>
        <Url>/bgDeviceManage/I</Url>
      </ChildNode>
    </Menus>
  </Node>
  <Node ID="519efe1c-5ba8-4793-af67-3a2bed99026b" Basic="个人事务">
    <MenuID>519efe1c-5ba8-4793-af67-3a2bed99026b</MenuID>
    <Icon>icon-nav</Icon>
    <MenuName>个人事务</MenuName>
    <Url>/</Url>
    <Menus>
      <ChildNode ID="046b634b-2006-4198-94b7-8b29004f0794">
        <MenuID>046b634b-2006-4198-94b7-8b29004f0794</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>我的考勤</MenuName>
        <Url>/KQ/View</Url>
      </ChildNode>
      <ChildNode ID="cca2e8ef-0aaa-4606-97ef-619ae5a9a498">
        <MenuID>cca2e8ef-0aaa-4606-97ef-619ae5a9a498</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>请假</MenuName>
        <Url>/askforleave/I</Url>
      </ChildNode>
      <ChildNode ID="1013c4dd-f5be-4bf7-a781-18df3a22d97d">
        <MenuID>1013c4dd-f5be-4bf7-a781-18df3a22d97d</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>内部邮件</MenuName>
        <Url>/SysEmail/SysEmailList?ReceiveUser={UserID}&amp;FlagTrashed=0</Url>
      </ChildNode>
      <ChildNode ID="5ba61f34-0e42-4188-8d48-4e9d7d665f18">
        <MenuID>5ba61f34-0e42-4188-8d48-4e9d7d665f18</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>个人资料</MenuName>
        <Url>/User/Detial</Url>
      </ChildNode>
    </Menus>
  </Node>
  <Node ID="064292c4-5246-4bcb-9917-13217543ff3d" Basic="工程管理">
    <MenuID>064292c4-5246-4bcb-9917-13217543ff3d</MenuID>
    <Icon>icon-nav</Icon>
    <MenuName>工程管理</MenuName>
    <Url>/</Url>
    <Menus>
      <ChildNode ID="c37f52e5-aad5-44a2-9a0d-9cb2289178a1">
        <MenuID>c37f52e5-aad5-44a2-9a0d-9cb2289178a1</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>待办事项</MenuName>
        <Url>/gcProject/manage</Url>
      </ChildNode>
      <ChildNode ID="b30e924a-1b73-41a5-bfde-a71bdeabacdd">
        <MenuID>b30e924a-1b73-41a5-bfde-a71bdeabacdd</MenuID>
        <Icon>icon-sys</Icon>
        <MenuName>市场部材料采购</MenuName>
        <Url>/MaterialTaskPurchase</Url>
      </ChildNode>
      <ChildNode ID="32874742-7459-4daf-ac75-a292b2a6dff9">
        <MenuID>32874742-7459-4daf-ac75-a292b2a6dff9</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>工程管理</MenuName>
        <Url>/</Url>
      </ChildNode>
      <ChildNode ID="7463d577-2323-4844-8a81-bc03e454a2b5">
        <MenuID>7463d577-2323-4844-8a81-bc03e454a2b5</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>工程查询</MenuName>
        <Url>/gcProject/I</Url>
      </ChildNode>
      <ChildNode ID="7b3c0b7b-1723-4d07-9eae-19962eaec1d6">
        <MenuID>7b3c0b7b-1723-4d07-9eae-19962eaec1d6</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>新建工程</MenuName>
        <Url>/gcProject/Add</Url>
      </ChildNode>
      <ChildNode ID="3a179b8d-b32d-4ef1-8e36-5af996f1c589">
        <MenuID>3a179b8d-b32d-4ef1-8e36-5af996f1c589</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>所有任务</MenuName>
        <Url>/gcTask/I?YJRY=True</Url>
      </ChildNode>
    </Menus>
  </Node>
  <Node ID="27755831-3830-4672-b7c3-7f14854fd122" Basic="工程管理">
    <MenuID>27755831-3830-4672-b7c3-7f14854fd122</MenuID>
    <Icon>icon-nav</Icon>
    <MenuName>现场踏勘</MenuName>
    <Url>/</Url>
    <Menus>
      <ChildNode ID="b100e245-a8c3-416e-af54-4a3597c13430">
        <MenuID>b100e245-a8c3-416e-af54-4a3597c13430</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>现场踏勘</MenuName>
        <Url>/gcReconnaissance/I</Url>
      </ChildNode>
      <ChildNode ID="a95e9174-fb22-48e7-8ee6-a1152148b358">
        <MenuID>a95e9174-fb22-48e7-8ee6-a1152148b358</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>图纸会审</MenuName>
        <Url>/gcImageCheck/I</Url>
      </ChildNode>
      <ChildNode ID="2d2028d3-9dc7-47c3-b192-4a5f19c1d23f">
        <MenuID>2d2028d3-9dc7-47c3-b192-4a5f19c1d23f</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>施工组织设计</MenuName>
        <Url>/gcOrganizationDesign/I</Url>
      </ChildNode>
    </Menus>
  </Node>
  <Node ID="5cf1813b-b3f7-4429-9f6b-dfa0b4b5442c" Basic="工程管理">
    <MenuID>5cf1813b-b3f7-4429-9f6b-dfa0b4b5442c</MenuID>
    <Icon>icon-nav</Icon>
    <MenuName>工程预算</MenuName>
    <Url>/</Url>
    <Menus>
      <ChildNode ID="b2f2a32c-3116-47a1-b945-8bc9e26c06e9">
        <MenuID>b2f2a32c-3116-47a1-b945-8bc9e26c06e9</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>工程预算</MenuName>
        <Url>/gcConstructionBudget/I</Url>
      </ChildNode>
    </Menus>
  </Node>
  <Node ID="df4560c7-6cfb-4e48-864c-235c1b237971" Basic="工程管理">
    <MenuID>df4560c7-6cfb-4e48-864c-235c1b237971</MenuID>
    <Icon>icon-nav</Icon>
    <MenuName>合同工作</MenuName>
    <Url>/</Url>
    <Menus>
      <ChildNode ID="dca14186-12ff-437a-a060-69a4df46e84e">
        <MenuID>dca14186-12ff-437a-a060-69a4df46e84e</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>合同工作</MenuName>
        <Url>/protocolcontract/I</Url>
      </ChildNode>
    </Menus>
  </Node>
  <Node ID="b96a4a96-3137-49f8-b84d-87c2d47d4005" Basic="工程管理">
    <MenuID>b96a4a96-3137-49f8-b84d-87c2d47d4005</MenuID>
    <Icon>icon-nav</Icon>
    <MenuName>下达施工任务</MenuName>
    <Url>/</Url>
    <Menus>
      <ChildNode ID="00455bd4-f76a-4ea7-b016-b39564a6c687">
        <MenuID>00455bd4-f76a-4ea7-b016-b39564a6c687</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>下达施工任务</MenuName>
        <Url>/gcconstructiontask/I</Url>
      </ChildNode>
    </Menus>
  </Node>
  <Node ID="9c3795d5-08a2-4a30-a699-d140fa8c2aeb" Basic="工程管理">
    <MenuID>9c3795d5-08a2-4a30-a699-d140fa8c2aeb</MenuID>
    <Icon>icon-nav</Icon>
    <MenuName>施工前准备</MenuName>
    <Url>/</Url>
    <Menus>
      <ChildNode ID="1599e535-f548-4141-a676-8a1f755226e0">
        <MenuID>1599e535-f548-4141-a676-8a1f755226e0</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>人员计划</MenuName>
        <Url>/gcCPRY/I</Url>
      </ChildNode>
      <ChildNode ID="1c617b8f-e5d5-4262-ac92-3aa7367bc28c">
        <MenuID>1c617b8f-e5d5-4262-ac92-3aa7367bc28c</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>材料计划</MenuName>
        <Url>/gcCPCL/I</Url>
      </ChildNode>
    </Menus>
  </Node>
  <Node ID="0c78f8b1-848a-4519-b91f-b0444940a28b" Basic="工程管理">
    <MenuID>0c78f8b1-848a-4519-b91f-b0444940a28b</MenuID>
    <Icon>icon-nav</Icon>
    <MenuName>施工阶段</MenuName>
    <Url>/</Url>
    <Menus>
      <ChildNode ID="cad00910-cbd9-423d-8dc5-3c84e3d12ef2">
        <MenuID>cad00910-cbd9-423d-8dc5-3c84e3d12ef2</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>进场开工</MenuName>
        <Url>/gcProject/IJCKG</Url>
      </ChildNode>
      <ChildNode ID="be10fc63-226a-47bd-bf8b-dc8b59bdbc30">
        <MenuID>be10fc63-226a-47bd-bf8b-dc8b59bdbc30</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>材料领用</MenuName>
        <Url>/gcMaterialAchieve/I</Url>
      </ChildNode>
      <ChildNode ID="9e8f174b-2a43-4e42-acb1-cbd07d140d2c">
        <MenuID>9e8f174b-2a43-4e42-acb1-cbd07d140d2c</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>材料追加</MenuName>
        <Url>/gcMaterialAttach/I</Url>
      </ChildNode>
      <ChildNode ID="a22ccd58-1f95-4c18-a31f-421c2f9282a3">
        <MenuID>a22ccd58-1f95-4c18-a31f-421c2f9282a3</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>施工月报</MenuName>
        <Url>/gcCOctober/I</Url>
      </ChildNode>
      <ChildNode ID="c5f2820a-c9b1-4491-a984-f53657a9e693">
        <MenuID>c5f2820a-c9b1-4491-a984-f53657a9e693</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>质量安全监督</MenuName>
        <Url>/gcQSOctober/I</Url>
      </ChildNode>
      <ChildNode ID="377500a5-c90d-46a0-b060-13b50bde0188">
        <MenuID>377500a5-c90d-46a0-b060-13b50bde0188</MenuID>
        <Icon>icon-sys</Icon>
        <MenuName>责令改正</MenuName>
        <Url>/gcOrderAmend/I</Url>
      </ChildNode>
    </Menus>
  </Node>
  <Node ID="1491a8c1-d7e8-409b-8142-4a1df2df1bce" Basic="工程管理">
    <MenuID>1491a8c1-d7e8-409b-8142-4a1df2df1bce</MenuID>
    <Icon>icon-nav</Icon>
    <MenuName>完工阶段</MenuName>
    <Url>/</Url>
    <Menus>
      <ChildNode ID="944a1f2b-71b0-4673-8ef2-d96aaa169846">
        <MenuID>944a1f2b-71b0-4673-8ef2-d96aaa169846</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>工程退料</MenuName>
        <Url>/gcMaterialRetreat/I</Url>
      </ChildNode>
      <ChildNode ID="39438c72-49e3-479d-99e6-b6e29e3dde25">
        <MenuID>39438c72-49e3-479d-99e6-b6e29e3dde25</MenuID>
        <Icon>icon-na</Icon>
        <MenuName>完工申请</MenuName>
        <Url>/gcProject/IWGSQ</Url>
      </ChildNode>
      <ChildNode ID="a3815542-7df2-445d-b010-297b6418bdbf">
        <MenuID>a3815542-7df2-445d-b010-297b6418bdbf</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>完工复核</MenuName>
        <Url>/gcProject/IWGFH</Url>
      </ChildNode>
      <ChildNode ID="38c46944-ff2b-4b33-a218-997210d74996">
        <MenuID>38c46944-ff2b-4b33-a218-997210d74996</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>工程停工</MenuName>
        <Url>/gcProject/IGCTG</Url>
      </ChildNode>
      <ChildNode ID="5f954609-6cf9-4617-a0d5-a867203d4109">
        <MenuID>5f954609-6cf9-4617-a0d5-a867203d4109</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>工程复工</MenuName>
        <Url>/gcProject/IGCFG</Url>
      </ChildNode>
      <ChildNode ID="2f362e96-edb0-4521-8f21-32d29d6df3d7">
        <MenuID>2f362e96-edb0-4521-8f21-32d29d6df3d7</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>材料归集</MenuName>
        <Url>/gcMaterialAccumulation/I</Url>
      </ChildNode>
      <ChildNode ID="2a30af60-e9ed-45f1-9b43-b0d0518228af">
        <MenuID>2a30af60-e9ed-45f1-9b43-b0d0518228af</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>竣工图</MenuName>
        <Url>/gcProject/IJGT</Url>
      </ChildNode>
      <ChildNode ID="9df7826a-1096-4f3a-84d4-e8009ced4e96">
        <MenuID>9df7826a-1096-4f3a-84d4-e8009ced4e96</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>竣工图复核</MenuName>
        <Url>/gcProject/IJGTFH</Url>
      </ChildNode>
    </Menus>
  </Node>
  <Node ID="2bb745ae-4eea-4398-a91b-91caf20387bc" Basic="工程管理">
    <MenuID>2bb745ae-4eea-4398-a91b-91caf20387bc</MenuID>
    <Icon>icon-nav</Icon>
    <MenuName>竣工阶段</MenuName>
    <Url>/</Url>
    <Menus>
      <ChildNode ID="c76dd0e3-6a89-477d-9e73-247ab731cfd5">
        <MenuID>c76dd0e3-6a89-477d-9e73-247ab731cfd5</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>竣工验收</MenuName>
        <Url>/gcProject/IJGYSAP</Url>
      </ChildNode>
      <ChildNode ID="93e8fbe9-b213-4bf3-9206-b1f6e3f2d095">
        <MenuID>93e8fbe9-b213-4bf3-9206-b1f6e3f2d095</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>竣工结算</MenuName>
        <Url>/gcfinalaccount/I</Url>
      </ChildNode>
    </Menus>
  </Node>
  <Node ID="98470b27-22dd-4088-b126-965d781b8289" Basic="工程管理">
    <MenuID>98470b27-22dd-4088-b126-965d781b8289</MenuID>
    <Icon>icon-nav</Icon>
    <MenuName>工程款项</MenuName>
    <Url>/</Url>
    <Menus>
      <ChildNode ID="8f5301b1-058b-42f8-b92a-d2068672af48">
        <MenuID>8f5301b1-058b-42f8-b92a-d2068672af48</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>收取工程款</MenuName>
        <Url>/gcProject/IGCQK</Url>
      </ChildNode>
    </Menus>
  </Node>
  <Node ID="9ba91556-a5de-491b-ab57-4afa28093f2e" Basic="工程管理">
    <MenuID>9ba91556-a5de-491b-ab57-4afa28093f2e</MenuID>
    <Icon>icon-nav</Icon>
    <MenuName>辅助队伍工程款</MenuName>
    <Url>/</Url>
    <Menus>
      <ChildNode ID="283896a1-f5f1-4adb-b366-5d0a6b8866a6">
        <MenuID>283896a1-f5f1-4adb-b366-5d0a6b8866a6</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>辅助队伍工程款申请</MenuName>
        <Url>/gcconstructioncost/I</Url>
      </ChildNode>
      <ChildNode ID="c685176a-0072-4d69-9d18-f31aea9ac377">
        <MenuID>c685176a-0072-4d69-9d18-f31aea9ac377</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>工程款支票</MenuName>
        <Url>/gcFee/IGCKZP?showSearch=true</Url>
      </ChildNode>
      <ChildNode ID="7bbe9068-5b86-40a8-b607-2140e072802e">
        <MenuID>7bbe9068-5b86-40a8-b607-2140e072802e</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>支付反馈</MenuName>
        <Url>/gcFee/IZFFK?sDZQK=0</Url>
      </ChildNode>
    </Menus>
  </Node>
  <Node ID="458e849e-9e69-46e7-82ee-408515f2bfc6" Basic="工程管理">
    <MenuID>458e849e-9e69-46e7-82ee-408515f2bfc6</MenuID>
    <Icon>incn-nav</Icon>
    <MenuName>其他功能</MenuName>
    <Url>/</Url>
    <Menus>
      <ChildNode ID="1743647e-1cfb-4645-a8d1-381fd7267bb3">
        <MenuID>1743647e-1cfb-4645-a8d1-381fd7267bb3</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>工程资料</MenuName>
        <Url>/gcProjectData/I</Url>
      </ChildNode>
      <ChildNode ID="f0b858dd-63a7-48d1-890d-6b41c25dc09a">
        <MenuID>f0b858dd-63a7-48d1-890d-6b41c25dc09a</MenuID>
        <Icon>icon-sys</Icon>
        <MenuName>档案管理</MenuName>
        <Url>/DossierManage/I</Url>
      </ChildNode>
    </Menus>
  </Node>
  <Node ID="ecdbae02-a237-4154-a289-cedf05790bfd" Basic="工程管理">
    <MenuID>ecdbae02-a237-4154-a289-cedf05790bfd</MenuID>
    <Icon>icon-nav</Icon>
    <MenuName>客户管理</MenuName>
    <Url>/</Url>
    <Menus>
      <ChildNode ID="0c82268e-08fc-4408-86ce-c27dffc441d4">
        <MenuID>0c82268e-08fc-4408-86ce-c27dffc441d4</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>客户管理</MenuName>
        <Url>/gcCustomer/I</Url>
      </ChildNode>
    </Menus>
  </Node>
  <Node ID="608bf74b-ea9d-4c3e-b4eb-bf4ccf091a35" Basic="材料管理">
    <MenuID>608bf74b-ea9d-4c3e-b4eb-bf4ccf091a35</MenuID>
    <Icon>icon-nav</Icon>
    <MenuName>出入库管理</MenuName>
    <Url>/</Url>
    <Menus>
      <ChildNode ID="cde020bc-a8e1-4a49-9be2-c04f7933a998">
        <MenuID>cde020bc-a8e1-4a49-9be2-c04f7933a998</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>出入库管理</MenuName>
        <Url>/</Url>
      </ChildNode>
      <ChildNode ID="be10fc63-226a-47bd-bf8b-dc8b59bdbc30">
        <MenuID>be10fc63-226a-47bd-bf8b-dc8b59bdbc30</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>材料领用</MenuName>
        <Url>/gcMaterialAchieve/I</Url>
      </ChildNode>
      <ChildNode ID="944a1f2b-71b0-4673-8ef2-d96aaa169846">
        <MenuID>944a1f2b-71b0-4673-8ef2-d96aaa169846</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>工程退料</MenuName>
        <Url>/gcMaterialRetreat/I</Url>
      </ChildNode>
    </Menus>
  </Node>
  <Node ID="e93c18f8-6679-4493-876c-a9a20a9f5497" Basic="材料管理">
    <MenuID>e93c18f8-6679-4493-876c-a9a20a9f5497</MenuID>
    <Icon>icon-nav</Icon>
    <MenuName>材料管理</MenuName>
    <Url>/</Url>
    <Menus>
      <ChildNode ID="807c633e-75ba-4f6d-ada6-dadc928e7913">
        <MenuID>807c633e-75ba-4f6d-ada6-dadc928e7913</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>材料类别组</MenuName>
        <Url>/clGroup/I</Url>
      </ChildNode>
      <ChildNode ID="c823f6b6-8d6e-4fbe-9735-7ffd82921af0">
        <MenuID>c823f6b6-8d6e-4fbe-9735-7ffd82921af0</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>材料</MenuName>
        <Url>/clMaterial/I?sGroupId=8a46fd01-9c56-4b51-b355-c78c8021bb0d</Url>
      </ChildNode>
      <ChildNode ID="0c966de9-d215-4f67-ae9f-97daca802394">
        <MenuID>0c966de9-d215-4f67-ae9f-97daca802394</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>材料库存</MenuName>
        <Url>/clStore/I?sGroupId=8a46fd01-9c56-4b51-b355-c78c8021bb0d</Url>
      </ChildNode>
      <ChildNode ID="57eb6fe3-cde7-4855-a1b5-bef43435415e">
        <MenuID>57eb6fe3-cde7-4855-a1b5-bef43435415e</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>材料管理</MenuName>
        <Url>
        </Url>
      </ChildNode>
      <ChildNode ID="7e929182-6911-4db0-aed5-a8bc281de33f">
        <MenuID>7e929182-6911-4db0-aed5-a8bc281de33f</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>单据类型</MenuName>
        <Url>/clPaperType/I</Url>
      </ChildNode>
      <ChildNode ID="25227efe-0ec1-4ddc-8e7b-6f582a5dc7c8">
        <MenuID>25227efe-0ec1-4ddc-8e7b-6f582a5dc7c8</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>盘盈</MenuName>
        <Url>/clInventory/I?Type=1</Url>
      </ChildNode>
      <ChildNode ID="c60cc41a-1eec-4034-a296-55394f0f4db7">
        <MenuID>c60cc41a-1eec-4034-a296-55394f0f4db7</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>盘亏</MenuName>
        <Url>/clInventory/I?Type=-1</Url>
      </ChildNode>
      <ChildNode ID="24c368c7-5be0-4899-9b11-8aaa1ad4f716">
        <MenuID>24c368c7-5be0-4899-9b11-8aaa1ad4f716</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>让售</MenuName>
        <Url>/MaterialSale/I</Url>
      </ChildNode>
    </Menus>
  </Node>
  <Node ID="3641f30e-132d-4ecf-a5aa-762e889c9c06" Basic="设备管理">
    <MenuID>3641f30e-132d-4ecf-a5aa-762e889c9c06</MenuID>
    <Icon>icon-nav</Icon>
    <MenuName>设备管理</MenuName>
    <Url>/</Url>
    <Menus>
      <ChildNode ID="063c9fed-5048-4e19-80df-00eb465678ab">
        <MenuID>063c9fed-5048-4e19-80df-00eb465678ab</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>设备查看</MenuName>
        <Url>/clMaterial/I?sGroupId=9937484f-1e74-4ca0-b636-fd433f96f73d</Url>
      </ChildNode>
      <ChildNode ID="c26dabb0-ee9f-4d0a-9a3d-3e6705034db3">
        <MenuID>c26dabb0-ee9f-4d0a-9a3d-3e6705034db3</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>设备领用</MenuName>
        <Url>/clDeviceAchieve/I</Url>
      </ChildNode>
      <ChildNode ID="a83880af-0669-442b-950a-c14260f04ac9">
        <MenuID>a83880af-0669-442b-950a-c14260f04ac9</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>设备管理</MenuName>
        <Url>/</Url>
      </ChildNode>
    </Menus>
  </Node>
  <Node ID="714ab79e-f1d4-431c-9fd5-da108f2c22e5" Basic="材料管理">
    <MenuID>714ab79e-f1d4-431c-9fd5-da108f2c22e5</MenuID>
    <Icon>icon-sys</Icon>
    <MenuName>采购计划</MenuName>
    <Url>/</Url>
    <Menus>
      <ChildNode ID="cc0818bd-a855-4ee2-8d2f-2bae5223d33d">
        <MenuID>cc0818bd-a855-4ee2-8d2f-2bae5223d33d</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>材料采购</MenuName>
        <Url>/MaterialPurchase/I</Url>
      </ChildNode>
      <ChildNode ID="790d40ac-b8e0-4096-b39b-dab1f9ae42d1">
        <MenuID>790d40ac-b8e0-4096-b39b-dab1f9ae42d1</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>材料验收</MenuName>
        <Url>/materialCheckAccept/I</Url>
      </ChildNode>
      <ChildNode ID="b30e924a-1b73-41a5-bfde-a71bdeabacdd">
        <MenuID>b30e924a-1b73-41a5-bfde-a71bdeabacdd</MenuID>
        <Icon>icon-sys</Icon>
        <MenuName>市场部材料采购</MenuName>
        <Url>/MaterialTaskPurchase</Url>
      </ChildNode>
    </Menus>
  </Node>
  <Node ID="50f6e8a6-2eec-4f93-9d4d-470991585d02" Basic="财务管理">
    <MenuID>50f6e8a6-2eec-4f93-9d4d-470991585d02</MenuID>
    <Icon>icon-nav</Icon>
    <MenuName>工程款项</MenuName>
    <Url>/</Url>
    <Menus>
      <ChildNode ID="8f5301b1-058b-42f8-b92a-d2068672af48">
        <MenuID>8f5301b1-058b-42f8-b92a-d2068672af48</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>收取工程款</MenuName>
        <Url>/gcProject/IGCQK</Url>
      </ChildNode>
      <ChildNode ID="c494b441-4107-4962-a47f-d9a54fb4452f">
        <MenuID>c494b441-4107-4962-a47f-d9a54fb4452f</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>请款发票</MenuName>
        <Url>/gcFee/IQKFP?showSearch=true</Url>
      </ChildNode>
      <ChildNode ID="26e32c9b-2c8f-4c88-9653-68d709fd3637">
        <MenuID>26e32c9b-2c8f-4c88-9653-68d709fd3637</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>到账反馈</MenuName>
        <Url>/gcFee/IDZFK?sDZQK=0</Url>
      </ChildNode>
    </Menus>
  </Node>
  <Node ID="5bb7f065-342b-4a53-a623-c8c688b2a898" Basic="财务管理">
    <MenuID>5bb7f065-342b-4a53-a623-c8c688b2a898</MenuID>
    <Icon>icon-nav</Icon>
    <MenuName>辅助队伍工程款</MenuName>
    <Url>/</Url>
    <Menus>
      <ChildNode ID="283896a1-f5f1-4adb-b366-5d0a6b8866a6">
        <MenuID>283896a1-f5f1-4adb-b366-5d0a6b8866a6</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>辅助队伍工程款申请</MenuName>
        <Url>/gcconstructioncost/I</Url>
      </ChildNode>
      <ChildNode ID="c685176a-0072-4d69-9d18-f31aea9ac377">
        <MenuID>c685176a-0072-4d69-9d18-f31aea9ac377</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>工程款支票</MenuName>
        <Url>/gcFee/IGCKZP?showSearch=true</Url>
      </ChildNode>
      <ChildNode ID="7bbe9068-5b86-40a8-b607-2140e072802e">
        <MenuID>7bbe9068-5b86-40a8-b607-2140e072802e</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>支付反馈</MenuName>
        <Url>/gcFee/IZFFK?sDZQK=0</Url>
      </ChildNode>
    </Menus>
  </Node>
  <Node ID="2b024877-8ffc-4733-aeb2-dd9b62d67af9" Basic="财务管理">
    <MenuID>2b024877-8ffc-4733-aeb2-dd9b62d67af9</MenuID>
    <Icon>icon-sys</Icon>
    <MenuName>材料归集</MenuName>
    <Url>/</Url>
    <Menus>
      <ChildNode ID="2f362e96-edb0-4521-8f21-32d29d6df3d7">
        <MenuID>2f362e96-edb0-4521-8f21-32d29d6df3d7</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>材料归集</MenuName>
        <Url>/gcMaterialAccumulation/I</Url>
      </ChildNode>
    </Menus>
  </Node>
  <Node ID="7486c7a0-ea81-4002-9c7f-69143a7ccc13" Basic="报表模块">
    <MenuID>7486c7a0-ea81-4002-9c7f-69143a7ccc13</MenuID>
    <Icon>icon-nav</Icon>
    <MenuName>生产报表</MenuName>
    <Url>/</Url>
    <Menus>
      <ChildNode ID="2132c4b8-e586-46eb-b167-59719e57547b">
        <MenuID>2132c4b8-e586-46eb-b167-59719e57547b</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>在建市政</MenuName>
        <Url>/gcReport/ZJSZGCReport</Url>
      </ChildNode>
      <ChildNode ID="e02ea53c-a6ea-425b-98ed-3e625fdba73e">
        <MenuID>e02ea53c-a6ea-425b-98ed-3e625fdba73e</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>完工市政</MenuName>
        <Url>/gcReport/WGSZGCReport</Url>
      </ChildNode>
      <ChildNode ID="9961da17-dec9-4ec2-8e3a-c03ea36d603e">
        <MenuID>9961da17-dec9-4ec2-8e3a-c03ea36d603e</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>在建安装</MenuName>
        <Url>/gcReport/ZJAZGCReport</Url>
      </ChildNode>
      <ChildNode ID="998fe8a3-16a3-4266-a98a-ceb58d31e426">
        <MenuID>998fe8a3-16a3-4266-a98a-ceb58d31e426</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>完工安装</MenuName>
        <Url>/gcReport/WGAZGCReport</Url>
      </ChildNode>
      <ChildNode ID="72b758ee-dce2-49f0-8c15-3a7d30ef391f">
        <MenuID>72b758ee-dce2-49f0-8c15-3a7d30ef391f</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>在建户改</MenuName>
        <Url>/gcReport/ZJHGGCReport</Url>
      </ChildNode>
      <ChildNode ID="ab97018d-195e-491b-b740-707ecc8365c6">
        <MenuID>ab97018d-195e-491b-b740-707ecc8365c6</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>完工户改</MenuName>
        <Url>/gcReport/WGHGGCReport</Url>
      </ChildNode>
    </Menus>
  </Node>
  <Node ID="ca2b0a04-69e1-4746-a339-67927a4b68cf" Basic="报表模块">
    <MenuID>ca2b0a04-69e1-4746-a339-67927a4b68cf</MenuID>
    <Icon>icon-nav</Icon>
    <MenuName>市场部报表</MenuName>
    <Url>/</Url>
    <Menus>
      <ChildNode ID="5a1f8867-dec1-49b9-adc8-65b51a8bdfb3">
        <MenuID>5a1f8867-dec1-49b9-adc8-65b51a8bdfb3</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>签订施工合同工程</MenuName>
        <Url>/gcReport/SCBQDHTGCReport</Url>
      </ChildNode>
      <ChildNode ID="5dc9f81d-f67e-4862-b485-7edaabf26fc4">
        <MenuID>5dc9f81d-f67e-4862-b485-7edaabf26fc4</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>未签定合同</MenuName>
        <Url>/gcReport/SCBWQDHTGCReport</Url>
      </ChildNode>
      <ChildNode ID="dda81a21-3f2a-4957-b21a-adf717ed6f2e">
        <MenuID>dda81a21-3f2a-4957-b21a-adf717ed6f2e</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>已审结工程请款安排</MenuName>
        <Url>/gcReport/SCBYSJGCReport</Url>
      </ChildNode>
    </Menus>
  </Node>
  <Node ID="88184590-62dc-46df-9652-792e5d5e430f" Basic="报表模块">
    <MenuID>88184590-62dc-46df-9652-792e5d5e430f</MenuID>
    <Icon>icon-nav</Icon>
    <MenuName>造价管理部报表</MenuName>
    <Url>/</Url>
    <Menus>
      <ChildNode ID="b9e77930-5cd7-40e3-9c06-a790fe36d3df">
        <MenuID>b9e77930-5cd7-40e3-9c06-a790fe36d3df</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>造价部已审结工程</MenuName>
        <Url>/gcReport/ZJBYSJGCReport</Url>
      </ChildNode>
      <ChildNode ID="cec8f9c2-5967-4d75-9308-c2397d5d84be">
        <MenuID>cec8f9c2-5967-4d75-9308-c2397d5d84be</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>工程分公司送审工程</MenuName>
        <Url>/gcReport/ZJBGCFGSGCReport?sProjectBelongTo=e90d9c4a-0f9d-4d70-8add-7dac3b60dd0d</Url>
      </ChildNode>
    </Menus>
  </Node>
  <Node ID="bc7f129a-4b7f-4ede-a51d-e7c5f9734325" Basic="报表模块">
    <MenuID>bc7f129a-4b7f-4ede-a51d-e7c5f9734325</MenuID>
    <Icon>icon-nav</Icon>
    <MenuName>工程部报表</MenuName>
    <Url>/</Url>
    <Menus>
      <ChildNode ID="d59a0699-911f-4591-8572-112ba3af1956">
        <MenuID>d59a0699-911f-4591-8572-112ba3af1956</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>已完工未验收工程</MenuName>
        <Url>/gcReport/GCBYWGWYSGCReport</Url>
      </ChildNode>
      <ChildNode ID="dd3f261f-08ef-4e73-9e37-be9452d1297d">
        <MenuID>dd3f261f-08ef-4e73-9e37-be9452d1297d</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>已验收工程</MenuName>
        <Url>/gcReport/GCBYYSGCReport</Url>
      </ChildNode>
    </Menus>
  </Node>
  <Node ID="9da152bc-488d-47c1-9009-74e8937399fd" Basic="报表模块">
    <MenuID>9da152bc-488d-47c1-9009-74e8937399fd</MenuID>
    <Icon>icon-nav</Icon>
    <MenuName>质量安全监督</MenuName>
    <Url>/</Url>
    <Menus>
      <ChildNode ID="d38874ee-111b-4376-9d1b-6125f8ca41f0">
        <MenuID>d38874ee-111b-4376-9d1b-6125f8ca41f0</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>质量安全监督月报</MenuName>
        <Url>/gcReport/ZLAQJDMonthReport</Url>
      </ChildNode>
      <ChildNode ID="5e2d5c61-e042-42d4-825d-3e9b13946818">
        <MenuID>5e2d5c61-e042-42d4-825d-3e9b13946818</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>质量安全监督季报</MenuName>
        <Url>/gcReport/ZLAQJDSeasonReport</Url>
      </ChildNode>
      <ChildNode ID="56aa78a0-b53e-4b28-969c-253ad2e62483">
        <MenuID>56aa78a0-b53e-4b28-969c-253ad2e62483</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>质量安全监督年报</MenuName>
        <Url>/gcReport/ZLAQJDYearReport</Url>
      </ChildNode>
      <ChildNode ID="b773389a-4c30-47a8-81e4-01d183777b5f">
        <MenuID>b773389a-4c30-47a8-81e4-01d183777b5f</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>质量安全监督年汇总报表</MenuName>
        <Url>/gcReport/ZLAQJDYearAllReport</Url>
      </ChildNode>
      <ChildNode ID="e6174814-dac6-4ed7-90fc-efee141c027b">
        <MenuID>e6174814-dac6-4ed7-90fc-efee141c027b</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>质量安全监督次数</MenuName>
        <Url>/gcReport/ZLAQJDCSReport</Url>
      </ChildNode>
      <ChildNode ID="23d56efd-27ba-4d1a-baaa-afbf272f5c27">
        <MenuID>23d56efd-27ba-4d1a-baaa-afbf272f5c27</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>质量安全监督清单月报</MenuName>
        <Url>/gcReport/ZLAQJDQDReport?sTimeReport=Month</Url>
      </ChildNode>
      <ChildNode ID="24c144a9-6435-4018-84cc-67a7be85ecc3">
        <MenuID>24c144a9-6435-4018-84cc-67a7be85ecc3</MenuID>
        <Icon>
        </Icon>
        <MenuName>质量安全监督清单季报</MenuName>
        <Url>/gcReport/ZLAQJDQDReport?sTimeReport=Season</Url>
      </ChildNode>
      <ChildNode ID="8897e083-10ca-4126-8680-b3692f568d00">
        <MenuID>8897e083-10ca-4126-8680-b3692f568d00</MenuID>
        <Icon>
        </Icon>
        <MenuName>质量安全监督清单年报</MenuName>
        <Url>/gcReport/ZLAQJDQDReport?sTimeReport=Year</Url>
      </ChildNode>
      <ChildNode ID="00aa92a7-8e4e-4ee1-9da3-90c30ae6fe78">
        <MenuID>00aa92a7-8e4e-4ee1-9da3-90c30ae6fe78</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>责令改正清单月报</MenuName>
        <Url>/gcReport/ZLGZQDReport?sTimeReport=Month</Url>
      </ChildNode>
      <ChildNode ID="7676eb95-bd27-4783-a4c2-72b54ca50308">
        <MenuID>7676eb95-bd27-4783-a4c2-72b54ca50308</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>责令改正清单季报</MenuName>
        <Url>/gcReport/ZLGZQDReport?sTimeReport=Season</Url>
      </ChildNode>
      <ChildNode ID="63b8e550-e49a-46b3-b4ab-1f6500784b15">
        <MenuID>63b8e550-e49a-46b3-b4ab-1f6500784b15</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>责令改正清单年报</MenuName>
        <Url>/gcReport/ZLGZQDReport?sTimeReport=Year</Url>
      </ChildNode>
    </Menus>
  </Node>
  <Node ID="c3fd12d3-fe90-4ca9-a8e1-1a6ecd682593" Basic="行政办公">
    <MenuID>c3fd12d3-fe90-4ca9-a8e1-1a6ecd682593</MenuID>
    <Icon>icon-nav</Icon>
    <MenuName>行政办公</MenuName>
    <Url>/</Url>
    <Menus>
      <ChildNode ID="1743647e-1cfb-4645-a8d1-381fd7267bb3">
        <MenuID>1743647e-1cfb-4645-a8d1-381fd7267bb3</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>工程资料</MenuName>
        <Url>/gcProjectData/I</Url>
      </ChildNode>
      <ChildNode ID="3a179b8d-b32d-4ef1-8e36-5af996f1c589">
        <MenuID>3a179b8d-b32d-4ef1-8e36-5af996f1c589</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>所有任务</MenuName>
        <Url>/gcTask/I?YJRY=True</Url>
      </ChildNode>
    </Menus>
  </Node>
  <Node ID="d7c7e644-58c7-4524-b830-c5fea2867849" Basic="人事管理">
    <MenuID>d7c7e644-58c7-4524-b830-c5fea2867849</MenuID>
    <Icon>icon-nav</Icon>
    <MenuName>人事管理</MenuName>
    <Url>/</Url>
    <Menus>
      <ChildNode ID="76309187-c594-467e-910b-78d5a6d79403">
        <MenuID>76309187-c594-467e-910b-78d5a6d79403</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>员工管理</MenuName>
        <Url>/User/I</Url>
      </ChildNode>
      <ChildNode ID="b7b59163-71c2-429e-8e86-d0abc9576262">
        <MenuID>b7b59163-71c2-429e-8e86-d0abc9576262</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>岗位管理</MenuName>
        <Url>/Position/I</Url>
      </ChildNode>
      <ChildNode ID="401d4647-9ae4-4aaa-b126-d855d12618ec">
        <MenuID>401d4647-9ae4-4aaa-b126-d855d12618ec</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>部门管理</MenuName>
        <Url>/Dept/I</Url>
      </ChildNode>
    </Menus>
  </Node>
  <Node ID="96f57ec0-6cb6-4441-b8e5-791ea9630dc7" Basic="人事管理">
    <MenuID>96f57ec0-6cb6-4441-b8e5-791ea9630dc7</MenuID>
    <Icon>icon-nav</Icon>
    <MenuName>考勤管理</MenuName>
    <Url>/</Url>
    <Menus>
      <ChildNode ID="0d2c999b-5b48-4fe6-b8e5-88d075867e6a">
        <MenuID>0d2c999b-5b48-4fe6-b8e5-88d075867e6a</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>安排值班</MenuName>
        <Url>/UserDuty/I</Url>
      </ChildNode>
      <ChildNode ID="5441ad74-20bb-4a10-b46a-c695d70643e0">
        <MenuID>5441ad74-20bb-4a10-b46a-c695d70643e0</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>默认排班模板</MenuName>
        <Url>/UserDefaultScheduleTemplates/I</Url>
      </ChildNode>
      <ChildNode ID="4e514b62-3ab0-4a52-8175-0fe552a162c4">
        <MenuID>4e514b62-3ab0-4a52-8175-0fe552a162c4</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>排班模板</MenuName>
        <Url>/UserSchedule/I</Url>
      </ChildNode>
      <ChildNode ID="ddebbe36-9061-489e-9029-e42713bb5485">
        <MenuID>ddebbe36-9061-489e-9029-e42713bb5485</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>班次管理</MenuName>
        <Url>/UserClassSequence/I</Url>
      </ChildNode>
      <ChildNode ID="d7d2442d-e34f-4307-9954-1bb046d80668">
        <MenuID>d7d2442d-e34f-4307-9954-1bb046d80668</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>班次类型</MenuName>
        <Url>/UserClassesRef/I</Url>
      </ChildNode>
      <ChildNode ID="ad51e654-d6c6-4baf-9dae-cc72e7c17151">
        <MenuID>ad51e654-d6c6-4baf-9dae-cc72e7c17151</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>节假日</MenuName>
        <Url>/UserHoliday/I</Url>
      </ChildNode>
      <ChildNode ID="f8142e7f-d350-4490-a941-4d173530e254">
        <MenuID>f8142e7f-d350-4490-a941-4d173530e254</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>免签人员</MenuName>
        <Url>/UserVisa/I</Url>
      </ChildNode>
      <ChildNode ID="43431ae8-7a06-49ca-9685-026ad36e5013">
        <MenuID>43431ae8-7a06-49ca-9685-026ad36e5013</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>考勤机</MenuName>
        <Url>/KQ/I</Url>
      </ChildNode>
    </Menus>
  </Node>
  <Node ID="3b8c72f1-1c1f-4f1c-b31b-dc00e240909b" Basic="人事管理">
    <MenuID>3b8c72f1-1c1f-4f1c-b31b-dc00e240909b</MenuID>
    <Icon>icon-nav</Icon>
    <MenuName>绩效管理</MenuName>
    <Url>/</Url>
    <Menus>
      <ChildNode ID="42f217d6-3d40-4d8a-b1fd-21dbff10ed0c">
        <MenuID>42f217d6-3d40-4d8a-b1fd-21dbff10ed0c</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>绩效配置</MenuName>
        <Url>/gcPAS/I</Url>
      </ChildNode>
    </Menus>
  </Node>
  <Node ID="bf047e6f-4aea-425c-8f83-1c467801337e" Basic="工作流">
    <MenuID>bf047e6f-4aea-425c-8f83-1c467801337e</MenuID>
    <Icon>icon-nav</Icon>
    <MenuName>工作流</MenuName>
    <Url>/</Url>
    <Menus>
      <ChildNode ID="9e96956f-5421-425f-b0ef-1fb92248c82f">
        <MenuID>9e96956f-5421-425f-b0ef-1fb92248c82f</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>未操作任务</MenuName>
        <Url>/worktask/unoperateworktask</Url>
      </ChildNode>
      <ChildNode ID="eb06c6a8-f720-4b8d-9137-d7b4cd068087">
        <MenuID>eb06c6a8-f720-4b8d-9137-d7b4cd068087</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>我申请的任务</MenuName>
        <Url>/worktask/mystartworktask</Url>
      </ChildNode>
      <ChildNode ID="014111ce-4f78-4740-82e7-c5e1155e52de">
        <MenuID>014111ce-4f78-4740-82e7-c5e1155e52de</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>我处理过的任务</MenuName>
        <Url>/worktask/myaduitedworktask</Url>
      </ChildNode>
      <ChildNode ID="36f572be-3aba-4d0e-abbc-7280f7e4e59d">
        <MenuID>36f572be-3aba-4d0e-abbc-7280f7e4e59d</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>我参与的全部任务</MenuName>
        <Url>/worktask/myallworktask</Url>
      </ChildNode>
      <ChildNode ID="88d1d67b-d2b2-47f7-8c9b-e8ff1550f1d7">
        <MenuID>88d1d67b-d2b2-47f7-8c9b-e8ff1550f1d7</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>未认领任务</MenuName>
        <Url>http://{hfDomain}/BasePages/ClaimingTask.aspx?id={UserID}&amp;pw={password}</Url>
      </ChildNode>
      <ChildNode ID="49e2565e-958a-431a-b8d4-a98e7011a8a8">
        <MenuID>49e2565e-958a-431a-b8d4-a98e7011a8a8</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>已认领任务</MenuName>
        <Url>http://{hfDomain}/BasePages/ClaimedTask.aspx?id={UserID}&amp;pw={password}</Url>
      </ChildNode>
      <ChildNode ID="8e7e4024-cf08-4946-a758-e972eb678f2d">
        <MenuID>8e7e4024-cf08-4946-a758-e972eb678f2d</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>已完成任务</MenuName>
        <Url>http://{hfDomain}/BasePages/CompletedTask.aspx?id={UserID}&amp;pw={password}</Url>
      </ChildNode>
      <ChildNode ID="6516f26a-0b89-413c-9adb-56c25fcad05d">
        <MenuID>6516f26a-0b89-413c-9adb-56c25fcad05d</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>我参与的任务</MenuName>
        <Url>http://{hfDomain}/BasePages/AllWorkTask.aspx?id={UserID}&amp;pw={password}</Url>
      </ChildNode>
    </Menus>
  </Node>
  <Node ID="cc7453e6-a697-4255-b45c-9aa5d8f8fecf" Basic="系统管理">
    <MenuID>cc7453e6-a697-4255-b45c-9aa5d8f8fecf</MenuID>
    <Icon>icon-sys</Icon>
    <MenuName>系统管理</MenuName>
    <Url>/</Url>
    <Menus>
      <ChildNode ID="d968629f-6e34-4ce0-8c2c-6083e6805665">
        <MenuID>d968629f-6e34-4ce0-8c2c-6083e6805665</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>类别组管理</MenuName>
        <Url>/RefGroup/I</Url>
      </ChildNode>
      <ChildNode ID="fd1f62ea-1bd2-46d0-8a83-ae1947b60893">
        <MenuID>fd1f62ea-1bd2-46d0-8a83-ae1947b60893</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>类别管理</MenuName>
        <Url>/Reference/I</Url>
      </ChildNode>
    </Menus>
  </Node>
  <Node ID="825385ce-b8e0-426a-872f-9f1788f8a3f8" Basic="系统管理">
    <MenuID>825385ce-b8e0-426a-872f-9f1788f8a3f8</MenuID>
    <Icon>icon-sys</Icon>
    <MenuName>权限管理</MenuName>
    <Url>/</Url>
    <Menus>
      <ChildNode ID="f49a80d1-6989-4182-aecc-9d5d3ccdff55">
        <MenuID>f49a80d1-6989-4182-aecc-9d5d3ccdff55</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>操作管理</MenuName>
        <Url>/Operation/I</Url>
      </ChildNode>
      <ChildNode ID="048f512f-c5d6-47d3-9586-1e1f5131b757">
        <MenuID>048f512f-c5d6-47d3-9586-1e1f5131b757</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>资源管理</MenuName>
        <Url>/Resources/I</Url>
      </ChildNode>
      <ChildNode ID="bd3bc770-2437-4105-9e93-11eabbb3be75">
        <MenuID>bd3bc770-2437-4105-9e93-11eabbb3be75</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>权限管理</MenuName>
        <Url>/Privilege/I</Url>
      </ChildNode>
      <ChildNode ID="af927396-8d91-4563-a733-b1afbd84e4a1">
        <MenuID>af927396-8d91-4563-a733-b1afbd84e4a1</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>角色配置</MenuName>
        <Url>/Role/I</Url>
      </ChildNode>
    </Menus>
  </Node>
  <Node ID="f8ea784f-b2ca-437c-8c42-f682a28c085a" Basic="系统管理">
    <MenuID>f8ea784f-b2ca-437c-8c42-f682a28c085a</MenuID>
    <Icon>icon-sys</Icon>
    <MenuName>导航管理</MenuName>
    <Url>/</Url>
    <Menus>
      <ChildNode ID="0431df8e-3cc6-493a-aee6-5e126d841735">
        <MenuID>0431df8e-3cc6-493a-aee6-5e126d841735</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>头部菜单</MenuName>
        <Url>/MenuReference/I</Url>
      </ChildNode>
      <ChildNode ID="340aaeed-7d57-4a63-ae4d-6a4bcee8ebea">
        <MenuID>340aaeed-7d57-4a63-ae4d-6a4bcee8ebea</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>左侧导航</MenuName>
        <Url>/NavigationLink/I</Url>
      </ChildNode>
    </Menus>
  </Node>
</Menu>