<?xml version="1.0" encoding="utf-8"?>
<Menu Basic="basic,authority,gongju,administrative,jiaoxue,navigation,bangong,renshi,dangan" BasicName="系統管理,權限管理,工具,行政管理,教學,導航管理,辦公,人事,檔案" BasicIcon="sys_nav,sys_nav1,icon-nav,sys_nav2,icon-nav,sys_nav3,icon-nav,icon-nav,icon-nav">
  <Node ID="519efe1c-5ba8-4793-af67-3a2bed99026b" Basic="bangong">
    <MenuID>519efe1c-5ba8-4793-af67-3a2bed99026b</MenuID>
    <Icon>icon-nav</Icon>
    <MenuName>辦公</MenuName>
    <Url>/</Url>
    <Menus>
      <ChildNode ID="76309187-c594-467e-910b-78d5a6d79403">
        <MenuID>76309187-c594-467e-910b-78d5a6d79403</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>員工管理</MenuName>
        <Url>/User/I</Url>
      </ChildNode>
      <ChildNode ID="b7b59163-71c2-429e-8e86-d0abc9576262">
        <MenuID>b7b59163-71c2-429e-8e86-d0abc9576262</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>崗位管理</MenuName>
        <Url>/Position/I</Url>
      </ChildNode>
    </Menus>
  </Node>
  <Node ID="6da8b368-49c5-46c0-962d-05fbc4b84d7b" Basic="gongju">
    <MenuID>6da8b368-49c5-46c0-962d-05fbc4b84d7b</MenuID>
    <Icon>icon-nav</Icon>
    <MenuName>工具</MenuName>
    <Url>/</Url>
    <Menus>
      <ChildNode ID="f1439f13-9ff4-4ce6-8759-9faaf3a891f6">
        <MenuID>f1439f13-9ff4-4ce6-8759-9faaf3a891f6</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>操作日志</MenuName>
        <Url>/SystemLog/I</Url>
      </ChildNode>
      <ChildNode ID="ba61df81-f4f0-48d6-9f8b-f8c6b57ebdb7">
        <MenuID>ba61df81-f4f0-48d6-9f8b-f8c6b57ebdb7</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>系統參數配置管理</MenuName>
        <Url>/System/I</Url>
      </ChildNode>
      <ChildNode ID="3597c415-261c-48c1-9a13-594107d719e7">
        <MenuID>3597c415-261c-48c1-9a13-594107d719e7</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>我的操作日志</MenuName>
        <Url>/SystemLog/MySystemLog</Url>
      </ChildNode>
    </Menus>
  </Node>
  <Node ID="d7c7e644-58c7-4524-b830-c5fea2867849" Basic="renshi">
    <MenuID>d7c7e644-58c7-4524-b830-c5fea2867849</MenuID>
    <Icon>icon-nav</Icon>
    <MenuName>人事</MenuName>
    <Url>/</Url>
    <Menus>
      <ChildNode ID="76309187-c594-467e-910b-78d5a6d79403">
        <MenuID>76309187-c594-467e-910b-78d5a6d79403</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>員工管理</MenuName>
        <Url>/User/I</Url>
      </ChildNode>
      <ChildNode ID="b7b59163-71c2-429e-8e86-d0abc9576262">
        <MenuID>b7b59163-71c2-429e-8e86-d0abc9576262</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>崗位管理</MenuName>
        <Url>/Position/I</Url>
      </ChildNode>
      <ChildNode ID="401d4647-9ae4-4aaa-b126-d855d12618ec">
        <MenuID>401d4647-9ae4-4aaa-b126-d855d12618ec</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>部門管理</MenuName>
        <Url>/Dept/I</Url>
      </ChildNode>
    </Menus>
  </Node>
  <Node ID="e960414c-4a1d-441d-ab2d-dc77274d20a1" Basic="dangan">
    <MenuID>e960414c-4a1d-441d-ab2d-dc77274d20a1</MenuID>
    <Icon>icon-nav</Icon>
    <MenuName>檔案</MenuName>
    <Url>/</Url>
    <Menus>
      <ChildNode ID="76309187-c594-467e-910b-78d5a6d79403">
        <MenuID>76309187-c594-467e-910b-78d5a6d79403</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>員工管理</MenuName>
        <Url>/User/I</Url>
      </ChildNode>
      <ChildNode ID="401d4647-9ae4-4aaa-b126-d855d12618ec">
        <MenuID>401d4647-9ae4-4aaa-b126-d855d12618ec</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>部門管理</MenuName>
        <Url>/Dept/I</Url>
      </ChildNode>
    </Menus>
  </Node>
  <Node ID="29e2fa21-b239-4204-8ce8-90381c48dabc" Basic="jiaoxue">
    <MenuID>29e2fa21-b239-4204-8ce8-90381c48dabc</MenuID>
    <Icon>icon-nav</Icon>
    <MenuName>教學</MenuName>
    <Url>/</Url>
    <Menus>
      <ChildNode ID="cd66f787-6a2f-475c-bf44-ee6ff6b0c57b">
        <MenuID>cd66f787-6a2f-475c-bf44-ee6ff6b0c57b</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>新聞管理</MenuName>
        <Url>/New/I</Url>
      </ChildNode>
    </Menus>
  </Node>
  <Node ID="cc7453e6-a697-4255-b45c-9aa5d8f8fecf" Basic="basic">
    <MenuID>cc7453e6-a697-4255-b45c-9aa5d8f8fecf</MenuID>
    <Icon>icon-sys</Icon>
    <MenuName>系統管理</MenuName>
    <Url>/</Url>
    <Menus>
      <ChildNode ID="d8b65a57-8223-4b39-a941-459dd2484604">
        <MenuID>d8b65a57-8223-4b39-a941-459dd2484604</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>站內信</MenuName>
        <Url>/SiteInformation/I</Url>
      </ChildNode>
      <ChildNode ID="7a8cb9dc-ad65-488d-953a-56d04764c7b1">
        <MenuID>7a8cb9dc-ad65-488d-953a-56d04764c7b1</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>通知</MenuName>
        <Url>/Notice/I</Url>
      </ChildNode>
      <ChildNode ID="d838f110-e6fa-4d2b-9fcb-018312a24ac8">
        <MenuID>d838f110-e6fa-4d2b-9fcb-018312a24ac8</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>數據庫備份</MenuName>
        <Url>/Backup/I</Url>
      </ChildNode>
      <ChildNode ID="d2c741ab-f2b8-45d1-9ee9-b7bde88a72c9">
        <MenuID>d2c741ab-f2b8-45d1-9ee9-b7bde88a72c9</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>測試WF</MenuName>
        <Url>http://{domain}/{vd}/login.aspx?username={username}&amp;sid={sid}&amp;url=http://{domain}/wf/ebsys/fceform/common/djframe.htm?djsn=wf_steptask_list&amp;djtype=WF&amp;search_type=2</Url>
      </ChildNode>
      <ChildNode ID="f6eeb15b-9bcd-4208-b2f6-b02646042e1a">
        <MenuID>f6eeb15b-9bcd-4208-b2f6-b02646042e1a</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>引導菜單名稱配置</MenuName>
        <Url>/System/SystemMenu</Url>
      </ChildNode>
      <ChildNode ID="d968629f-6e34-4ce0-8c2c-6083e6805665">
        <MenuID>d968629f-6e34-4ce0-8c2c-6083e6805665</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>類別組管理</MenuName>
        <Url>/RefGroup/I</Url>
      </ChildNode>
      <ChildNode ID="76309187-c594-467e-910b-78d5a6d79403">
        <MenuID>76309187-c594-467e-910b-78d5a6d79403</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>員工管理</MenuName>
        <Url>/User/I</Url>
      </ChildNode>
      <ChildNode ID="b7b59163-71c2-429e-8e86-d0abc9576262">
        <MenuID>b7b59163-71c2-429e-8e86-d0abc9576262</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>崗位管理</MenuName>
        <Url>/Position/I</Url>
      </ChildNode>
      <ChildNode ID="f1439f13-9ff4-4ce6-8759-9faaf3a891f6">
        <MenuID>f1439f13-9ff4-4ce6-8759-9faaf3a891f6</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>操作日志</MenuName>
        <Url>/SystemLog/I</Url>
      </ChildNode>
      <ChildNode ID="fd1f62ea-1bd2-46d0-8a83-ae1947b60893">
        <MenuID>fd1f62ea-1bd2-46d0-8a83-ae1947b60893</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>類別管理</MenuName>
        <Url>/Reference/I</Url>
      </ChildNode>
      <ChildNode ID="ba61df81-f4f0-48d6-9f8b-f8c6b57ebdb7">
        <MenuID>ba61df81-f4f0-48d6-9f8b-f8c6b57ebdb7</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>系統參數配置管理</MenuName>
        <Url>/System/I</Url>
      </ChildNode>
      <ChildNode ID="401d4647-9ae4-4aaa-b126-d855d12618ec">
        <MenuID>401d4647-9ae4-4aaa-b126-d855d12618ec</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>部門管理</MenuName>
        <Url>/Dept/I</Url>
      </ChildNode>
      <ChildNode ID="5ba61f34-0e42-4188-8d48-4e9d7d665f18">
        <MenuID>5ba61f34-0e42-4188-8d48-4e9d7d665f18</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>個人資料</MenuName>
        <Url>/User/Detial</Url>
      </ChildNode>
      <ChildNode ID="cb5162a6-df10-4889-aa2a-f4f0c1e7228e">
        <MenuID>cb5162a6-df10-4889-aa2a-f4f0c1e7228e</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>主題管理</MenuName>
        <Url>/Account/Themes</Url>
      </ChildNode>
      <ChildNode ID="3597c415-261c-48c1-9a13-594107d719e7">
        <MenuID>3597c415-261c-48c1-9a13-594107d719e7</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>我的操作日志</MenuName>
        <Url>/SystemLog/MySystemLog</Url>
      </ChildNode>
      <ChildNode ID="cd66f787-6a2f-475c-bf44-ee6ff6b0c57b">
        <MenuID>cd66f787-6a2f-475c-bf44-ee6ff6b0c57b</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>新聞管理</MenuName>
        <Url>/New/I</Url>
      </ChildNode>
    </Menus>
  </Node>
  <Node ID="825385ce-b8e0-426a-872f-9f1788f8a3f8" Basic="authority">
    <MenuID>825385ce-b8e0-426a-872f-9f1788f8a3f8</MenuID>
    <Icon>icon-sys</Icon>
    <MenuName>權限管理</MenuName>
    <Url>/</Url>
    <Menus>
      <ChildNode ID="f49a80d1-6989-4182-aecc-9d5d3ccdff55">
        <MenuID>f49a80d1-6989-4182-aecc-9d5d3ccdff55</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>操作管理</MenuName>
        <Url>/Operation/I</Url>
      </ChildNode>
      <ChildNode ID="048f512f-c5d6-47d3-9586-1e1f5131b757">
        <MenuID>048f512f-c5d6-47d3-9586-1e1f5131b757</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>資源管理</MenuName>
        <Url>/Resources/I</Url>
      </ChildNode>
      <ChildNode ID="bd3bc770-2437-4105-9e93-11eabbb3be75">
        <MenuID>bd3bc770-2437-4105-9e93-11eabbb3be75</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>權限管理</MenuName>
        <Url>/Privilege/I</Url>
      </ChildNode>
      <ChildNode ID="af927396-8d91-4563-a733-b1afbd84e4a1">
        <MenuID>af927396-8d91-4563-a733-b1afbd84e4a1</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>角色配置</MenuName>
        <Url>/Role/I</Url>
      </ChildNode>
    </Menus>
  </Node>
  <Node ID="9135db86-a5d9-451a-ac84-90ae016bcbdb" Basic="administrative">
    <MenuID>9135db86-a5d9-451a-ac84-90ae016bcbdb</MenuID>
    <Icon>icon-sys</Icon>
    <MenuName>行政管理</MenuName>
    <Url>/</Url>
    <Menus>
      <ChildNode ID="36f16cf0-ab19-4e91-8da1-b702fa236cc8">
        <MenuID>36f16cf0-ab19-4e91-8da1-b702fa236cc8</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>省</MenuName>
        <Url>/Province/I</Url>
      </ChildNode>
      <ChildNode ID="50fa15be-14aa-4e9c-aa78-c7597cfea102">
        <MenuID>50fa15be-14aa-4e9c-aa78-c7597cfea102</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>設區市</MenuName>
        <Url>/City/I</Url>
      </ChildNode>
      <ChildNode ID="dc55b21e-6a51-41ac-99c1-f6630b09098b">
        <MenuID>dc55b21e-6a51-41ac-99c1-f6630b09098b</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>縣(市、區)</MenuName>
        <Url>/County/I</Url>
      </ChildNode>
      <ChildNode ID="5251ed09-cc52-4058-9f67-17f74f9a2714">
        <MenuID>5251ed09-cc52-4058-9f67-17f74f9a2714</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>鎮(鄉)</MenuName>
        <Url>/Town/I</Url>
      </ChildNode>
      <ChildNode ID="6317c2ed-0283-4597-917c-421cdd4142ad">
        <MenuID>6317c2ed-0283-4597-917c-421cdd4142ad</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>建制村</MenuName>
        <Url>/Village/I</Url>
      </ChildNode>
    </Menus>
  </Node>
  <Node ID="f8ea784f-b2ca-437c-8c42-f682a28c085a" Basic="navigation">
    <MenuID>f8ea784f-b2ca-437c-8c42-f682a28c085a</MenuID>
    <Icon>icon-sys</Icon>
    <MenuName>導航管理</MenuName>
    <Url>/</Url>
    <Menus>
      <ChildNode ID="0431df8e-3cc6-493a-aee6-5e126d841735">
        <MenuID>0431df8e-3cc6-493a-aee6-5e126d841735</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>頭部菜單管理</MenuName>
        <Url>/MenuReference/I</Url>
      </ChildNode>
      <ChildNode ID="340aaeed-7d57-4a63-ae4d-6a4bcee8ebea">
        <MenuID>340aaeed-7d57-4a63-ae4d-6a4bcee8ebea</MenuID>
        <Icon>icon-nav</Icon>
        <MenuName>左側導航</MenuName>
        <Url>/NavigationLink/I</Url>
      </ChildNode>
    </Menus>
  </Node>
</Menu>