<?xml version="1.0" encoding="utf-8"?>
<Validation xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Biao Key="项目提示" Value="項目提示">
    <Field  Key="查询失败" Value="查詢記錄失敗,請重試！"/>
    <Field  Key="编辑失败" Value="編輯失敗，請重試！"/>
    <Field  Key="无权限操作" Value="無權限操作！"/>
    <Field  Key="请选择要删除的项" Value="請選擇要刪除的項！"/>
    <Pages>
      <Field  Key="查询" Value=" 查 詢 "/>
      <Field  Key="操作" Value="操作"/>
      <Field  Key="请选择" Value="==請選擇=="/>
      <Field  Key="排序失败" Value="排序失敗"/>
      <Field  Key="全选" Value="全選"/>
      <Field  Key="添加" Value="添加"/>
      <Field  Key="保存" Value="保存"/>
      <Field  Key="返回" Value="返回"/>
      <Field  Key="系统头部标题" Value="晨曦OA考勤管理系統"/>
      <Field  Key="请开启脚本支持" Value="抱歉，請開啓腳本支持！"/>
      <Field  Key="更多" Value="更多"/>
      <Field  Key="系统底部标题" Value="晨曦OA考勤管理系統"/>
      <Field  Key="导航菜单" Value="導航菜單"/>
      <Field  Key="欢迎使用" Value="我的桌面"/>
      <Field  Key="旧密码" Value="舊密碼"/>
      <Field  Key="新密码" Value="新密碼"/>
      <Field  Key="确认密码" Value="確認密碼"/>
      <Field  Key="确定" Value="確定"/>
      <Field  Key="编辑" Value="確定"/>
      <Field  Key="取消" Value="取消"/>
      <Field  Key="欢迎" Value="歡迎"/>
      <Field  Key="修改密码" Value="修改密碼"/>
      <Field  Key="安全退出" Value="安全退出"/>
      <Field  Key="刷新" Value="刷新"/>
      <Field  Key="关闭" Value="關閉"/>
      <Field  Key="全部关闭" Value="全部關閉"/>
      <Field  Key="除此之外全部关闭" Value="除此之外全部關閉"/>
      <Field  Key="当前页右侧全部关闭" Value="當前頁右側全部關閉"/>
      <Field  Key="当前页左侧全部关闭" Value="當前頁左側全部關閉"/>
      <Field  Key="上一页" Value="上壹頁"/>
      <Field  Key="下一页" Value="下壹頁"/>
      <Field  Key="跳页" Value="跳頁"/>
      <Field  Key="第一页" Value="第壹頁"/>
      <Field  Key="最后页" Value="最後頁"/>
      <Field  Key="数据库备份" Value="數據庫備份"/>
    </Pages>
  </Biao>
  <Biao Key="wmfDept" Value="部門">
    <Field  Key="部门名为空" Value="部門名稱不能空！"/>
    <Field  Key="该部门存在下级部门或岗位有所属" Value="該部門存茬下級部門或有崗位使用，請先進行刪除或調整崗位或下級部門！"/>
    <Field  Key="自己的部门不能移到自己的部门" Value="移動失敗，部門A不能移動到部門A下！"/>
    <Field  Key="上级部门不能移到下级部门" Value="上級部門不能往自己的下級部門移動！"/>
    <Field  Key="电话为空" Value="部門電話不能爲空！"/>
    <Field  Key="部门已存在" Value="該部門已經存茬，請重新輸入！"/>
    <Field  Key="同级部门不能超过99个" Value="同級部門不能超過99個，請將不使用的部門進行刪除或修改！"/>
    <Pages>
      <Field  Key="添加部门" Value="添加部門"/>
      <Field  Key="部门名称" Value="部門名稱"/>
      <Field  Key="部门地址" Value="部門地址"/>
      <Field  Key="部门电话" Value="部門電話"/>
      <Field  Key="上级部门" Value="上級部門"/>
      <Field  Key="电话" Value="電話"/>
      <Field  Key="地址" Value="地址"/>
      <Field  Key="描述" Value="描述"/>
      <Field  Key="拖动移动部门" Value="拖動移動部門"/>
      <Field  Key="操作" Value="操作"/>
      <Field  Key="添加" Value="添加"/>
      <Field  Key="添加部门" Value="添加部門"/>
      <Field  Key="回收站" Value="回收站"/>
      <Field  Key="删除" Value="刪除"/>
      <Field  Key="删除部门" Value="刪除部門"/>
      <Field  Key="编辑" Value="編輯"/>
      <Field  Key="编辑部门" Value="編輯部門"/>
      <Field  Key="还原部门" Value="還原部門"/>
      <Field  Key="还原" Value="還原"/>
      <Field  Key="返回" Value="返回"/>
      <Field  Key="返回列表" Value="返回列表"/>
      <Field  Key="确定" Value="確定"/>
      <Field  Key="保存" Value="保存"/>
      <Field  Key="全选" Value="全選"/>
      <Field  Key="请选择" Value="==請選擇=="/>
    </Pages>
  </Biao>
  <Biao Key="aspnet_Roles" Value="角色">
    <Field  Key="有管理员使用该角色" Value="有管理員使用該角色,不能刪除！"/>
    <Field  Key="角色已存在" Value="已經有這個角色了！"/>
    <Field  Key="角色名为空" Value="請輸入角色名！"/>
    <Field  Key="角色名过滤" Value="角色名應該是字母或漢字！"/>
    <Field  Key="角色名长度" Value="角色名長度不能超過6個字符！"/>
    <Pages>
      <Field  Key="添加角色" Value="添加角色"/>
      <Field  Key="编辑角色" Value="編輯角色"/>
      <Field  Key="删除角色" Value="刪除角色"/>
      <Field  Key="保存" Value="保存"/>
      <Field  Key="取消" Value="取消"/>
      <Field  Key="点击收起展开" Value="點擊收起展開"/>
      <Field  Key="角色名称" Value="角色名稱"/>
    </Pages>
  </Biao>
  <Biao Key="wmfPosition" Value="岗位">
    <Field  Key="岗位已存在" Value="已經有這個崗位了！"/>
    <Field  Key="岗位名为空" Value="請輸入崗位名！"/>
    <Field  Key="岗位名过滤" Value="崗位名應該是字母或漢字！"/>
    <Field  Key="岗位名长度" Value="崗位名長度不能超過20個字符！"/>
    <Field  Key="岗位名所属部门" Value="選擇崗位名所屬部門！"/>
    <Field  Key="该岗位有员工使用" Value="該崗位有員工使用，不能刪除！"/>
    <Field  Key="请选择要批量删除的项" Value="請選擇要批量刪除的項！"/>
    <Pages>
      <Field  Key="所属部门" Value="所屬部門"/>
      <Field  Key="岗位名称" Value="崗位名稱"/>
      <Field  Key="描述" Value="描述"/>
      <Field  Key="操作" Value="操作"/>
      <Field  Key="编辑岗位" Value="編輯崗位"/>
      <Field  Key="删除岗位" Value="刪除崗位"/>
      <Field  Key="添加岗位" Value="添加崗位"/>
      <Field  Key="批量删除" Value="批量刪除"/>
      <Field  Key="返回岗位管理" Value="返回崗位管理"/>
      <Field  Key="批量彻底删除" Value="批量徹底刪除"/>
      <Field  Key="批量还原" Value="批量還原"/>
      <Field  Key="查询" Value=" 查 詢 "/>
      <Field  Key="添加" Value="添加"/>
      <Field  Key="保存" Value="保存"/>
      <Field  Key="返回" Value="返回"/>
      <Field  Key="删除" Value="刪除"/>
      <Field  Key="回收站" Value="回收站"/>
      <Field  Key="全选" Value="全選"/>
      <Field  Key="请选择" Value="==請選擇=="/>
      <Field  Key="岗位级别" Value="崗位級別"/>
      <Field  Key="岗位级别管理" Value="崗位級別管理"/>
    </Pages>
  </Biao>
  <Biao Key="wmfReference" Value="類別">
    <Field  Key="Name已存在" Value="已經有這個Name了！"/>
    <Field  Key="类别已存在" Value="已經有這個類別了！"/>
    <Field  Key="类别名为空" Value="請輸入類別名！"/>
    <Field  Key="类别名过滤" Value="類別應該是字母或漢字！"/>
    <Field  Key="类别名长度" Value="類別名長度不能超過20個字符！"/>
    <Field  Key="项排序为空" Value="項排序錯誤,必須是整數且最小爲1"/>
    <Field  Key="项值不能为空" Value="項值不能爲空"/>
    <Field  Key="项信息长度" Value="項值長度不可大於15個字符"/>
    <Field  Key="显示名称不能为空" Value="顯示名稱不能爲空！"/>
    <Field  Key="图标不能为空" Value="圖標不能爲空！"/>
    <Pages>
      <Field  Key="添加头部菜单" Value="添加頭部菜單"/>
      <Field  Key="头部菜单名称" Value="頭部菜單名稱"/>
      <Field  Key="头部菜单值" Value="頭部菜單值"/>
      <Field  Key="头部菜单序号" Value="頭部菜單序號"/>
      <Field  Key="编辑头部菜单" Value="編輯頭部菜單"/>
      <Field  Key="删除头部菜单" Value="刪除頭部菜單"/>
      <Field  Key="Name" Value="Name"/>
      <Field  Key="显示名称" Value="顯示名稱"/>
      <Field  Key="图标" Value="圖標"/>
      <Field  Key="排序" Value="排序"/>
      <Field  Key="批量删除头部菜单" Value="批量刪除頭部菜單"/>
      <Field  Key="批量还原头部菜单" Value="批量還原頭部菜單"/>
      <Field  Key="删除头部菜单" Value="刪除頭部菜單"/>
      <Field  Key="还原头部菜单" Value="還原頭部菜單"/>
      <Field  Key="已添加" Value="已添加"/>
      <Field  Key="项" Value="項"/>
      <Field  Key="项的名称" Value="項的名稱"/>
      <Field  Key="类别组" Value="類別組"/>
      <Field  Key="说明" Value="*說明：按回車或以','分隔可以批量增加類別"/>
      <Field  Key="编辑类别" Value="編輯類別"/>
      <Field  Key="删除类别" Value="刪除類別"/>
      <Field  Key="设为默认值" Value="設爲默認值"/>
      <Field  Key="添加类别" Value="添加類別"/>
      <Field  Key="批量删除" Value="批量刪除"/>
      <Field  Key="返回岗位管理" Value="返回崗位管理"/>
      <Field  Key="批量彻底删除" Value="批量徹底刪除"/>
      <Field  Key="批量还原" Value="批量還原"/>
      <Field  Key="查询" Value=" 查 詢 "/>
      <Field  Key="添加" Value="添加"/>
      <Field  Key="保存" Value="保存"/>
      <Field  Key="返回" Value="返回"/>
      <Field  Key="取消" Value="取消"/>
      <Field  Key="删除" Value="刪除"/>
      <Field  Key="回收站" Value="回收站"/>
      <Field  Key="全选" Value="全選"/>
      <Field  Key="请选择" Value="==請選擇=="/>

      <Field  Key="导航排序返回title" Value="返回"/>


      <Field  Key="导航回收站删除title" Value="刪除"/>
      <Field  Key="导航回收站还原title" Value="還原"/>
      <Field  Key="导航回收站返回title" Value="返回"/>
      <Field  Key="导航回收站查询title" Value="查詢"/>


      <Field  Key="导航添加title" Value="添加"/>
      <Field  Key="导航编辑title" Value="編輯"/>
      <Field  Key="导航删除title" Value="刪除"/>
      <Field  Key="导航排序title" Value="排序"/>
      <Field  Key="导航回收站title" Value="回收站"/>
      <Field  Key="导航返回title" Value="返回"/>
      <Field  Key="导航查询title" Value="查詢"/>
    </Pages>
  </Biao>
  <Biao Key="wmfRefGroup" Value="類別組">
    <Field  Key="类别组已存在" Value="已經有這個類別組了！"/>
    <Field  Key="类别组名为空" Value="請輸入類別組名！"/>
    <Field  Key="类别组名过滤" Value="類別組應該是字母或漢字！"/>
    <Field  Key="类别组名长度" Value="類別組名長度不能超過20個字符！"/>
    <Field  Key="请先删除类别组下的类别" Value="請先刪除類別組下的類別！"/>
    <Field  Key="自己的类别组不能移到自己的类别组" Value="移動失敗，類別組A不能移動到類別組A下！"/>
    <Field  Key="上级类别组不能移到下级类别组" Value="上級類別組不能往自己的下級類別組移動！"/>
    <Pages>
      <Field  Key="添加类别组" Value="添加類別組"/>
      <Field  Key="类别组名称" Value="類別組名稱"/>
      <Field  Key="上级类别组" Value="上級類別組"/>
      <Field  Key="拖动移动类别组" Value="拖動移動類別組"/>
      <Field  Key="操作" Value="操作"/>
      <Field  Key="添加" Value="添加"/>
      <Field  Key="添加类别组" Value="添加類別組"/>
      <Field  Key="回收站" Value="回收站"/>
      <Field  Key="刪除" Value="刪除"/>
      <Field  Key="删除类别组" Value="刪除類別組"/>
      <Field  Key="编辑" Value="編輯"/>
      <Field  Key="编辑类别组" Value="編輯類別組"/>
      <Field  Key="还原类别组" Value="還原類別組"/>
      <Field  Key="还原" Value="還原"/>
      <Field  Key="返回" Value="返回"/>
      <Field  Key="返回列表" Value="返回列表"/>
      <Field  Key="确定" Value="確定"/>
      <Field  Key="保存" Value="保存"/>
      <Field  Key="全选" Value="全選"/>
      <Field  Key="请选择" Value="==請選擇=="/>
    </Pages>
  </Biao>
  <Biao Key="Sys_Enum" Value="岗位级别">
    <Field  Key="Name已存在" Value="已经有这个Name了！"/>
    <Pages>
      <Field  Key="岗位级别名称" Value="崗位級別名稱"/>
      <Field  Key="岗位级别" Value="崗位級別"/>
      <Field  Key="说明" Value="*說明：按回車或以','分隔可以批量增加崗位級別"/>
      <Field  Key="编辑岗位级别" Value="編輯崗位級別"/>
      <Field  Key="删除岗位级别" Value="刪除崗位級別"/>
      <Field  Key="添加岗位级别" Value="添加崗位級別"/>
      <Field  Key="批量删除" Value="批量刪除"/>
      <Field  Key="返回岗位管理" Value="返回崗位級別"/>
      <Field  Key="批量彻底删除" Value="批量徹底刪除"/>
      <Field  Key="批量还原" Value="批量還原"/>
      <Field  Key="查询" Value=" 查 詢 "/>
      <Field  Key="添加" Value="添加"/>
      <Field  Key="保存" Value="保存"/>
      <Field  Key="返回" Value="返回"/>
      <Field  Key="取消" Value="取消"/>
      <Field  Key="删除" Value="刪除"/>
      <Field  Key="回收站" Value="回收站"/>
      <Field  Key="全选" Value="全選"/>
      <Field  Key="请选择" Value="==請選擇=="/>
    </Pages>
  </Biao>
  <Biao Key="aspnet_Users" Value="用戶">
    <Field  Key="用户名已经存在" Value="用戶名已經存茬！"/>
    <Field  Key="请选择要批量离职的员工" Value="請選擇要批量離職的員工！"/>
    <Field  Key="用户名长度" Value="用戶名必須由數字、26個英文字母或者下劃線組成！"/>
    <Field  Key="请选择要批量恢复的员工" Value="請選擇要批量恢複的員工！"/>
    <Field  Key="请选择要批量彻底删除的员工" Value="請選擇要批量徹底刪除的員工！"/>
    <Field  Key="找回密码已经关闭" Value="找回密碼已經關閉，不能找回密碼，請聯系系統管理員。"/>
    <Field  Key="用户名不存在" Value="用戶名不存茬，請您點擊新輸入用戶名。"/>
    <Field  Key="请您登录您的邮箱查看" Value="我們已經將密碼，通過郵件的形式已經發送到您的郵箱，請您登錄您的郵箱查看。"/>
    <Field  Key="用户注册已经关闭" Value="注冊已經關閉，不允許注冊！"/>
    <Field  Key="请上传导入文档" Value="請上傳導入文檔！"/>
    <Pages>
      <Field  Key="所在部门" Value="所茬部門"/>
      <Field  Key="角色" Value="角色"/>
      <Field  Key="用户名" Value="用戶名"/>
      <Field  Key="密码" Value="密碼"/>
      <Field  Key="确认密码" Value="確認密碼"/>
      <Field  Key="默认密码" Value="默認密碼"/>
      <Field  Key="省份" Value="省份"/>
      <Field  Key="设区市" Value="設 區 市"/>
      <Field  Key="县(市、区)" Value="縣(市、區)"/>
      <Field  Key="真实姓名" Value="真實姓名"/>
      <Field  Key="性别" Value="性別"/>
      <Field  Key="男" Value="男"/>
      <Field  Key="女" Value="女"/>
      <Field  Key="身份证" Value="身 份 證"/>
      <Field  Key="手机" Value="手機"/>
      <Field  Key="电话" Value="電話"/>
      <Field  Key="邮箱" Value="郵箱"/>
      <Field  Key="个人资料" Value="個人資料"/>
      <Field  Key="查询" Value=" 查 詢 "/>
      <Field  Key="添加" Value="添加"/>
      <Field  Key="保存" Value="保存"/>
      <Field  Key="返回" Value="返回"/>
      <Field  Key="删除" Value="刪除"/>
      <Field  Key="回收站" Value="回收站"/>
      <Field  Key="离职" Value="離職"/>
      <Field  Key="锁定" Value="鎖定"/>
      <Field  Key="未锁定" Value="未鎖定"/>
      <Field  Key="岗位" Value="崗位"/>
      <Field  Key="部门" Value="部門"/>
      <Field  Key="操作" Value="操作"/>
      <Field  Key="姓名" Value="姓名"/>
      <Field  Key="描述" Value="描述"/>
      <Field  Key="点击离职" Value="點擊離職"/>
      <Field  Key="点击恢复员工" Value="點擊恢複員工"/>
      <Field  Key="添加员工" Value="添加員工"/>
      <Field  Key="离职员工管理" Value="離職員工管理"/>
      <Field  Key="岗位名称" Value="崗位名稱"/>
      <Field  Key="编辑员工" Value="編輯員工"/>
      <Field  Key="编辑" Value="編輯"/>
      <Field  Key="批量离职" Value="批量離職"/>
      <Field  Key="返回员工管理" Value="返回員工管理"/>
      <Field  Key="批量恢复" Value="批量恢複"/>
      <Field  Key="全选" Value="全選"/>
      <Field  Key="请选择" Value="==請選擇=="/>
      <Field  Key="员工数据导入" Value="員工數據導入"/>
      <Field  Key="数据导入" Value="導入"/>
      <Field  Key="数据导入标题" Value="員工數據導入"/>
      <Field  Key="查看考勤标题" Value="查看考勤"/>
      <Field  Key="初始化密码标题" Value="初始化密碼"/>
    </Pages>
  </Biao>
  <Biao Key="aspnet_Membership" Value="用戶詳細">
    <Field  Key="密码不能为空" Value="密碼不能爲空！"/>
    <Field  Key="密码长度" Value="密碼不能小於6位！"/>
    <Field  Key="确认密码不能为空" Value="確認密碼不能爲空！"/>
    <Field  Key="密码不一致" Value="兩次輸入的密碼不壹致！"/>
    <Field  Key="电子邮箱不能为空" Value="電子郵箱不能爲空！"/>
    <Field  Key="电子邮箱格式不正确" Value="電子郵箱格式不正確！"/>
  </Biao>
  <Biao Key="wmfUserInfo" Value="自定義用戶詳細">
    <Field  Key="真实姓名不能为空" Value="真實姓名不能爲空！"/>
  </Biao>
  <Biao Key="UploadFile" Value="文件上傳">
    <Field  Key="上传文件类型组中图片类型还未配置" Value="上傳文件類型組中圖片類型還未配置！"/>
    <Field  Key="请选择图片" Value="請選擇圖片！"/>
    <Field  Key="请选择要截取的位置" Value="請選擇要截取的位置！"/>
    <Field  Key="用户头像上传大小限制还未配置" Value="用戶頭像上傳大小限制還未配置！"/>
    <Field  Key="图片截取出现错误" Value="圖片截取出現錯誤！"/>
  </Biao>
  <Biao Key="systemXML" Value="系統文件配置">
    <Field  Key="请选择注册默认角色" Value="請選擇注冊默認角色！"/>
    <Field  Key="每页显示条数不能为空" Value="每頁顯示條數不能爲空！"/>
    <Field  Key="每页显示条数只能输入数字" Value="輸入格式錯誤，每頁顯示條數只能輸入正整數！"/>
    <Field  Key="上传图片大小不能为空" Value="上傳圖片大小不能爲空！"/>
    <Field  Key="上传图片大小格式错误" Value="輸入格式錯誤，上傳圖片大小只能輸入正整數！"/>
    <Field  Key="图片类别ID不能为空" Value="頭像上傳，圖片類別ID不能爲空！"/>
    <Field  Key="发件人Email名称不能为空" Value="發件人Email名稱不能爲空！"/>
    <Field  Key="发件人Email地址不能为空" Value="發件人Email地址不能爲空！"/>
    <Field  Key="发件人Email地址格式错误" Value="發件人Email地址格式錯誤！"/>
    <Field  Key="发送邮件标题不能为空" Value="發送郵件標題不能爲空！"/>
    <Field  Key="发件人Email密码不能为空" Value="發件人Email密碼不能爲空！"/>
    <Field  Key="邮件内容链接地址不能为空" Value="郵件內容鏈接地址不能爲空！"/>
    <Field  Key="默认选择文件的个数" Value="默認選擇文件的個數必須爲數字！"/>
    <Field  Key="默认同时上传文件数目" Value="默認同時上傳文件數目必須爲數字！"/>
    <Field  Key="默认上传文件的大小" Value="默認上傳文件的大小必須爲數字！"/>
    <Field  Key="导航菜单最多显示个数不能为空" Value="導航菜單最多顯示個數不能爲空！"/>
    <Field  Key="导航菜单最多显示个数只能输入数字" Value="導航菜單最多顯示個數只能輸入數字！"/>
    <Pages>
      <Field  Key="系统参数" Value="系統參數"/>
      <Field  Key="菜单定制" Value="菜單定制"/>
      <Field  Key="上传配置" Value="上傳配置"/>
      <Field  Key="是否开启考勤备注" Value="是否開啓考勤備注"/>
      <Field  Key="是否允许注册" Value="是否允許注冊"/>
      <Field  Key="是否开启找回密码" Value="是否開啓找回密碼"/>
      <Field  Key="是否开启验证码" Value="是否開啓驗證碼"/>
      <Field  Key="是否多点登录" Value="是否多點登錄"/>
      <Field  Key="每页显示条数" Value="每頁顯示條數"/>
      <Field  Key="导航菜单显示个数" Value="導航菜單顯示個數"/>
      <Field  Key="头像图片大小限制" Value="頭像圖片大小限制"/>
      <Field  Key="头像图片类别ID" Value="頭像圖片類別IDID"/>
      <Field  Key="角色权限范围" Value="角色權限範圍"/>
      <Field  Key="注册默认角色" Value="注冊默認角色"/>
      <Field  Key="欢迎页面显示文字" Value="歡迎頁面顯示文字"/>
      <Field  Key="工作流虚拟目录" Value="工作流虛擬目錄"/>
      <Field  Key="智能表单虚拟目录" Value="智能表單虛擬目錄"/>
      <Field  Key="智能报表虚拟目录" Value="智能報表虛擬目錄"/>
      <Field  Key="开启自动解锁" Value="開啓自動解鎖"/>
      <Field  Key="解锁天数" Value="解鎖天數"/>
      <Field  Key="登录Logo" Value="登錄Logo"/>
      <Field  Key="头部Logo" Value="頭部Logo"/>
      <Field  Key="系统邮箱设置" Value="系統郵箱設置"/>
      <Field  Key="发件人Email名称" Value="發件人Email名稱"/>
      <Field  Key="发件人Email地址" Value="發件人Email地址"/>
      <Field  Key="发件人Email密码" Value="發件人Email密碼"/>
      <Field  Key="发送邮件标题" Value="發送郵件標題"/>
      <Field  Key="邮件内容链接地址" Value="郵件內容鏈接地址"/>
      <Field  Key="添加" Value="添加"/>
      <Field  Key="批量删除" Value="批量刪除"/>
      <Field  Key="回收站" Value="回收站"/>
      <Field  Key="排序" Value="排序"/>
      <Field  Key="批量离职" Value="批量離職"/>
      <Field  Key="离职管理" Value="離職管理"/>
      <Field  Key="批量还原" Value="批量還原"/>
      <Field  Key="彻底删除" Value="徹底刪除"/>
      <Field  Key="更新地区信息" Value="更新地區信息"/>
      <Field  Key="返回" Value="返回"/>
      <Field  Key="确定" Value="確定"/>
      <Field  Key="生成导航菜单" Value="生成導航菜單"/>
      <Field  Key="默认保存目录" Value="默認保存目錄"/>
      <Field  Key="默认上传文件扩展名" Value="默認上傳文件擴展名"/>
      <Field  Key="默认对话框中的文件类型描述" Value="默認對話框中的文件類型描述"/>
      <Field  Key="默认选择文件的个数" Value="默認選擇文件的個數"/>
      <Field  Key="默认是否允许同时上传多文件" Value="默認是否允許同時上傳多文件"/>
      <Field  Key="默认选定文件后是否自动上传" Value="默認選定文件後是否自動上傳"/>
      <Field  Key="默认同时上传文件数目" Value="默認同時上傳文件數目"/>
      <Field  Key="默认浏览按钮图片路径" Value="默認浏覽按鈕圖片路徑"/>
      <Field  Key="默认上传文件的大小" Value="默認上傳文件的大小"/>
      <Field  Key="输入正整数" Value="(輸入正整數)"/>
      <Field  Key="图片说明" Value="說明：圖片規格：360px*60px，擴展名爲.png的透明圖片，圖片小於1024KB"/>
      <Field  Key="角色权限范围说明" Value="(每個範圍後用分隔)"/>
      <Field  Key="开启" Value="開啓"/>
      <Field  Key="关闭" Value="關閉"/>
      <Field  Key="是" Value="是"/>
      <Field  Key="否" Value="否"/>
      <Field  Key="头像图片大小限制说明" Value="(以字節爲計算單位：1024字節=1K,1024K*1024=1M)"/>
      <Field  Key="默认上传文件的大小说明" Value="(單位:字節,1KB=1024字節,1M=1024KB)"/>
      <Field  Key="邮件内容链接地址说明" Value="(格式：http://www.chenxisoft.com.cn/)"/>
      <Field  Key="CC工作流虚拟目录" Value="CC工作流虛擬目錄"/>
      <Field  Key="域名" Value="域名"/>
      <Field  Key="域名格式说明" Value="格式：如www.chenxisoft.com.cn，不加 http://"/>
    </Pages>
  </Biao>
  <Biao Key="wmfResource" Value="資源">
    <Field  Key="资源名称不能为空" Value="資源名稱不能爲空！"/>
    <Field  Key="资源名称长度不可大于15个字符" Value="資源名稱長度不可大於15個字符！"/>
    <Field  Key="资源存在下级目录" Value="資源存茬下級目錄或權限中使用！"/>
    <Field  Key="自己的资源不能移到自己的资源目录下" Value="自己的資源不能移到自己的資源目錄下！"/>
    <Field  Key="上级资源不能移到下级资源目录" Value="上級資源不能移到下級資源目錄！"/>
    <Field  Key="资源名称已存在" Value="資源名稱已存茬！"/>
    <Field  Key="请选择要批量删除的项" Value="請選擇要批量刪除的項！"/>
    <Field  Key="描述长度不可大于50个字符" Value="描述長度不可大於50個字符！"/>
    <Field  Key="请选择所属菜单" Value="請選擇所屬菜單！"/>
    <Field  Key="不存在导航菜单" Value="不存茬導航菜單,請先添加菜單！"/>
    <Field  Key="文件没有修改的权限" Value="訪問被拒絕，請給文件賦予權限！"/>
    <Field  Key="配置文件中不存在MenuGroupID定义" Value="配置文件中不存茬MenuGroupID定義！"/>
    <Pages>
      <Field  Key="添加资源" Value="添加資源"/>
      <Field  Key="批量删除资源" Value="批量刪除資源"/>
      <Field  Key="排序" Value="排序"/>
      <Field  Key="资源名称" Value="資源名稱"/>
      <Field  Key="描述" Value="描述"/>
      <Field  Key="编辑资源" Value="編輯資源"/>
      <Field  Key="删除资源" Value="刪除資源"/>
      <Field  Key="资源目录" Value="資源目錄"/>
      <Field  Key="图标" Value="圖標"/>
      <Field  Key="URL" Value="URL"/>
      <Field  Key="资源存在下级目录，不能删除" Value="資源存茬下級目錄，不能刪除！"/>

      <Field  Key="排序返回title" Value="返回"/>

      <Field  Key="添加title" Value="添加"/>
      <Field  Key="编辑title" Value="編輯"/>
      <Field  Key="删除title" Value="刪除"/>
      <Field  Key="排序title" Value="排序"/>
      <Field  Key="返回title" Value="返回"/>
      <Field  Key="查询title" Value="查詢"/>
    </Pages>
  </Biao>
  <Biao Key="wmfOperation" Value="操作">
    <Field  Key="操作名称已经存在" Value="操作名稱已經存茬！"/>
    <Field  Key="操作名称不能为空" Value="操作名稱不能爲空！"/>
    <Field  Key="操作名称长度不可大于25个字符" Value="操作名稱長度不可大於25個字符！"/>
    <Field  Key="描述长度不可大于50个字符" Value="描述長度不可大於50個字符！"/>
    <Field  Key="操作在权限中使用" Value="操作茬權限中使用！"/>
    <Pages>
      <Field  Key="添加操作" Value="添加操作"/>
      <Field  Key="批量删除操作" Value="批量刪除操作"/>
      <Field  Key="排序" Value="排序"/>
      <Field  Key="操作名称" Value="操作名稱"/>
      <Field  Key="描述" Value="描述"/>
      <Field  Key="编辑操作" Value="編輯操作"/>
      <Field  Key="删除操作" Value="刪除操作"/>
      <Field  Key="序号" Value="序號"/>
      <Field  Key="操作在权限中使用，不能删除" Value="操作茬權限中使用，不能刪除！"/>

      <Field  Key="排序返回title" Value="返回"/>

      <Field  Key="添加title" Value="添加"/>
      <Field  Key="编辑title" Value="編輯"/>
      <Field  Key="删除title" Value="刪除"/>
      <Field  Key="排序title" Value="排序"/>
      <Field  Key="返回title" Value="返回"/>
      <Field  Key="查询title" Value="查詢"/>
    </Pages>
  </Biao>
  <Biao Key="wmfPrivilege" Value="權限">
    <Field  Key="请选择操作" Value="請選擇操作！"/>
    <Field  Key="请选择资源" Value="請選擇資源！"/>
    <Field  Key="权限名称不能为空" Value="權限名稱不能爲空！"/>
    <Field  Key="权限名称长度不能超过25个字符" Value="權限名稱長度不能超過25個字符！"/>
    <Field  Key="描述长度不可大于50个字符" Value="描述長度不可大於50個字符！"/>
    <Field  Key="权限名称已经存在" Value="權限名稱已經存茬！"/>
    <Field  Key="请选择操作" Value="請選擇操作！"/>
    <Field  Key="权限在角色中使用" Value="該權限茬角色使用中！"/>
    <Pages>
      <Field  Key="添加权限" Value="添加權限"/>
      <Field  Key="批量删除权限" Value="批量刪除權限"/>
      <Field  Key="排序" Value="排序"/>
      <Field  Key="权限名称" Value="權限名稱"/>
      <Field  Key="资源名称" Value="資源名稱"/>
      <Field  Key="操作名称" Value="操作名稱"/>
      <Field  Key="描述" Value="描述"/>
      <Field  Key="编辑权限" Value="編輯權限"/>
      <Field  Key="删除权限" Value="刪除權限"/>
      <Field  Key="排序" Value="排序"/>
      <Field  Key="序号" Value="序號"/>

      <Field  Key="添加title" Value="添加"/>
      <Field  Key="编辑title" Value="編輯"/>
      <Field  Key="删除title" Value="刪除"/>
      <Field  Key="返回title" Value="返回"/>
      <Field  Key="查询title" Value="查詢"/>
    </Pages>
  </Biao>
  <Biao Key="wmfProvince" Value="省">
    <Field  Key="省名已存在" Value="省名已存茬！"/>
    <Field  Key="请先删除省下的市" Value="請先刪除省下的市！"/>
    <Pages>
      <Field  Key="添加省" Value="添加省"/>
      <Field  Key="省" Value="省"/>
      <Field  Key="省序号" Value="省序號"/>
      <Field  Key="编辑省" Value="編輯省"/>
      <Field  Key="删除省" Value="刪除省"/>

      <Field  Key="添加title" Value="添加"/>
      <Field  Key="编辑title" Value="編輯"/>
      <Field  Key="删除title" Value="刪除"/>
      <Field  Key="更新地区信息title" Value="更新地區信息"/>
      <Field  Key="查询title" Value="查詢"/>
    </Pages>
  </Biao>
  <Biao Key="wmfCity" Value="設區市">
    <Field  Key="设区市名已存在" Value="設區市名已存茬！"/>
    <Field  Key="请先删除设区市下的县(市、区)" Value="請先刪除設區市下的縣(市、區)！"/>
    <Pages>
      <Field  Key="添加設區市" Value="添加設區市"/>
      <Field  Key="省" Value="省"/>
      <Field  Key="设区市名" Value="設區市名"/>
      <Field  Key="设区市序号" Value="設區市序號"/>
      <Field  Key="编辑设区市" Value="編輯設區市"/>
      <Field  Key="删除设区市" Value="刪除設區市"/>

      <Field  Key="添加title" Value="添加"/>
      <Field  Key="编辑title" Value="編輯"/>
      <Field  Key="删除title" Value="刪除"/>
      <Field  Key="更新地区信息title" Value="更新地區信息"/>
      <Field  Key="查询title" Value="查詢"/>
    </Pages>
  </Biao>
  <Biao Key="wmfCounty" Value="縣(市、區)">
    <Field  Key="县(市、区)名已存在" Value="縣(市、區)名已存茬！"/>
    <Field  Key="请先删除县(市、区)下的镇(乡)" Value="請先刪除縣(市、區)下的鎮(鄉)！"/>
    <Pages>
      <Field  Key="添加县(市、区)" Value="添加縣(市、區)"/>
      <Field  Key="省" Value="省"/>
      <Field  Key="设区市名" Value="設區市名"/>
      <Field  Key="县(市、区)名" Value="縣(市、區)名"/>
      <Field  Key="县(市、区)序号" Value="縣(市、區)序號"/>
      <Field  Key="编辑县(市、区)" Value="編輯縣(市、區)"/>
      <Field  Key="删除县(市、区)" Value="刪除縣(市、區)"/>

      <Field  Key="添加title" Value="添加"/>
      <Field  Key="编辑title" Value="編輯"/>
      <Field  Key="删除title" Value="刪除"/>
      <Field  Key="更新地区信息title" Value="更新地區信息"/>
      <Field  Key="查询title" Value="查詢"/>
    </Pages>
  </Biao>
  <Biao Key="wmfTown" Value="鎮(鄉)">
    <Field  Key="镇(乡)名已存在" Value="鎮(鄉)名已存茬！"/>
    <Field  Key="请先删除镇(乡)下的建制村" Value="請先刪除鎮(鄉)下的建制村！"/>
    <Pages>
      <Field  Key="添加镇(乡)" Value="添加鎮(鄉)"/>
      <Field  Key="省" Value="省"/>
      <Field  Key="设区市名" Value="設區市名"/>
      <Field  Key="县(市、区)名" Value="縣(市、區)名"/>
      <Field  Key="镇(乡)名" Value="鎮(鄉)名"/>
      <Field  Key="镇(乡)序号" Value="鎮(鄉)序號"/>
      <Field  Key="编辑镇(乡)" Value="編輯鎮(鄉)"/>
      <Field  Key="删除镇(乡)" Value="刪除鎮(鄉)"/>

      <Field  Key="添加title" Value="添加"/>
      <Field  Key="编辑title" Value="編輯"/>
      <Field  Key="删除title" Value="刪除"/>
      <Field  Key="更新地区信息title" Value="更新地區信息"/>
      <Field  Key="查询title" Value="查詢"/>
    </Pages>
  </Biao>
  <Biao Key="wmfVillage" Value="建制村">
    <Field  Key="建制村名已存在" Value="建制村名已存茬！"/>
    <Pages>
      <Field  Key="添加建制村" Value="添加建制村"/>
      <Field  Key="省" Value="省"/>
      <Field  Key="设区市名" Value="設區市名"/>
      <Field  Key="县(市、区)名" Value="縣(市、區)名"/>
      <Field  Key="镇(乡)" Value="鎮(鄉)"/>
      <Field  Key="建制村名" Value="建制村名"/>
      <Field  Key="建制村序号" Value="建制村序號"/>
      <Field  Key="编辑建制村" Value="編輯建制村"/>
      <Field  Key="删除建制村" Value="刪除建制村"/>

      <Field  Key="添加title" Value="添加"/>
      <Field  Key="编辑title" Value="編輯"/>
      <Field  Key="删除title" Value="刪除"/>
      <Field  Key="更新地区信息title" Value="更新地區信息"/>
      <Field  Key="查询title" Value="查詢"/>
    </Pages>
  </Biao>
  <Biao Key="wmfNavigationLink" Value="權限">
    <Field  Key="请选择类别" Value="請選擇類別！"/>
    <Field  Key="输入菜单名称" Value="請輸入菜單名稱！"/>
    <Field  Key="输入URL" Value="請輸入URL！"/>
    <Field  Key="输入图标" Value="請輸入圖標！"/>
    <Field  Key="同一类别菜单名称已经存在" Value="同壹類別菜單名稱已經存茬！"/>
    <Pages>
      <Field  Key="左侧菜单名称" Value="左側菜單名稱"/>
      <Field  Key="图标" Value="圖標"/>
      <Field  Key="URL" Value="URL"/>
      <Field  Key="类别" Value="類別"/>
      <Field  Key="排序" Value="排序"/>
      <Field  Key="操作" Value="操作"/>
      <Field  Key="添加左侧菜单" Value="添加左側菜單"/>
      <Field  Key="编辑左侧菜单" Value="編輯左側菜單"/>

      <Field  Key="排序返回title" Value="返回"/>


      <Field  Key="回收站删除title" Value="刪除"/>
      <Field  Key="回收站还原title" Value="還原"/>
      <Field  Key="回收站返回title" Value="返回"/>
      <Field  Key="回收站查询title" Value="查詢"/>


      <Field  Key="添加title" Value="添加"/>
      <Field  Key="编辑title" Value="編輯"/>
      <Field  Key="删除title" Value="刪除"/>
      <Field  Key="排序title" Value="排序"/>
      <Field  Key="回收站title" Value="回收站"/>
      <Field  Key="生成导航菜单title" Value="生成導航菜單"/>
      <Field  Key="返回title" Value="返回"/>
      <Field  Key="查询title" Value="查詢"/>
    </Pages>
  </Biao>
  <Biao Key="wmfNew" Value="新聞">
    <Field  Key="请录入标题" Value="請錄入標題！"/>
    <Pages>
      <Field  Key="标题" Value="標題"/>
      <Field  Key="序号" Value="序號"/>
      <Field  Key="发布时间" Value="發布時間"/>
      <Field  Key="文件号" Value="文件號"/>
      <Field  Key="来源" Value="來源"/>
      <Field  Key="操作" Value="操作"/>
      <Field  Key="添加" Value="添加"/>
      <Field  Key="添加新闻" Value="添加新聞"/>
      <Field  Key="回收站" Value="回收站"/>
      <Field  Key="删除" Value="刪除"/>
      <Field  Key="删除新闻" Value="刪除新聞"/>
      <Field  Key="编辑" Value="編輯"/>
      <Field  Key="编辑新闻" Value="編輯新聞"/>
      <Field  Key="还原新闻" Value="還原新聞"/>
      <Field  Key="查看新闻" Value="查看新聞"/>
      <Field  Key="发表新闻" Value="發表新聞"/>
      <Field  Key="点击查看" Value="點擊查看"/>
      <Field  Key="还原" Value="還原"/>
      <Field  Key="返回" Value="返回"/>
      <Field  Key="返回列表" Value="返回列表"/>
      <Field  Key="确定" Value="確定"/>
      <Field  Key="保存" Value="保存"/>
      <Field  Key="全选" Value="全選"/>
      <Field  Key="查询" Value="查詢"/>
      <Field  Key="请选择" Value="==請選擇=="/>

      <Field  Key="添加title" Value="添加"/>
      <Field  Key="回收站title" Value="回收站"/>
      <Field  Key="编辑title" Value="編輯"/>
      <Field  Key="删除title" Value="刪除"/>
      <Field  Key="返回title" Value="返回"/>
      <Field  Key="查询title" Value="查詢"/>
      <Field  Key="查看title" Value="查看"/>
    </Pages>
  </Biao>
  <Biao Key="wmfWebLetter" Value="站內信">
    <Field  Key="请选择收信人" Value="請選擇收信人！"/>
    <Field  Key="请输入发送内容" Value="請輸入發送內容！"/>
    <Field  Key="请选择发送时间" Value="請選擇發送時間！"/>
    <Pages>
      <Field  Key="发布站内信" Value="發布站內信"/>
      <Field  Key="所在部门" Value="所茬部門"/>
      <Field  Key="开始时间" Value="開始時間"/>
      <Field  Key="结止时间" Value="結止時間"/>
      <Field  Key="发送人" Value="發送人"/>
      <Field  Key="发送时间" Value="發送時間"/>
      <Field  Key="收信人" Value="收信人"/>
      <Field  Key="选择" Value="選擇"/>
      <Field  Key="内容" Value="内容"/>
      <Field  Key="标题" Value="標題"/>
      <Field  Key="操作" Value="操作"/>
      <Field  Key="查询" Value=" 查 詢 "/>
      <Field  Key="添加" Value="添加"/>
      <Field  Key="保存" Value="保存"/>
      <Field  Key="返回" Value="返回"/>
      <Field  Key="删除" Value="刪除"/>
      <Field  Key="回收站" Value="回收站"/>
      <Field  Key="查看站内信" Value="查看站内信"/>
      <Field  Key="删除站内信" Value="刪除站內信"/>
      <Field  Key="请选择" Value="==請選擇=="/>
    </Pages>
  </Biao>
  <Biao Key="wmfOperationalLogbook" Value="操作日志">
    <Pages>
      <Field  Key="所在部门" Value="所茬部門"/>
      <Field  Key="操作类型" Value="操作類型"/>
      <Field  Key="开始时间" Value="開始時間"/>
      <Field  Key="结止时间" Value="結止時間"/>
      <Field  Key="操作人员" Value="操作人員"/>
      <Field  Key="操作类型" Value="操作類型"/>
      <Field  Key="操作表名" Value="操作表名"/>
      <Field  Key="操作时间" Value="操作時間"/>
      <Field  Key="IP地址" Value="IP地址"/>
      <Field  Key="修改前" Value="修改前"/>
      <Field  Key="修改后" Value="修改後"/>
      <Field  Key="操作" Value="操作"/>
      <Field  Key="查看操作日志" Value="查看操作日志"/>
      <Field  Key="删除操作日志" Value="刪除操作日志"/>
      <Field  Key="批量删除" Value="批量刪除"/>
      <Field  Key="返回岗位管理" Value="返回崗位管理"/>
      <Field  Key="批量彻底删除" Value="批量徹底刪除"/>
      <Field  Key="批量还原" Value="批量還原"/>
      <Field  Key="查询" Value=" 查 詢 "/>
      <Field  Key="添加" Value="添加"/>
      <Field  Key="保存" Value="保存"/>
      <Field  Key="返回" Value="返回"/>
      <Field  Key="关闭" Value="關閉"/>
      <Field  Key="删除" Value="刪除"/>
      <Field  Key="回收站" Value="回收站"/>
      <Field  Key="全选" Value="全選"/>
      <Field  Key="请选择" Value="==請選擇=="/>
    </Pages>
  </Biao>
  <Biao Key="wmfMail" Value="郵件琯理">
    <Field  Key="收件人不能为空" Value="請選擇收件人！"/>
    <Pages>
      <Field  Key="邮件管理" Value="郵件琯理"/>
      <Field  Key="添加邮件" Value="立即髮送"/>
      <Field  Key="保存到草稿箱" Value="保存到草稿箱"/>
      <Field  Key="邮件转发" Value="轉髮"/>
      <Field  Key="邮件回复" Value="迴複"/>
      <Field  Key="邮件删除" Value="刪除"/>
      <Field  Key="关闭" Value="關閉"/>
      <Field  Key="返回" Value="返迴"/>

      <Field  Key="收件人" Value="收件人"/>
      <Field  Key="抄送" Value="抄送"/>
      <Field  Key="添加抄送" Value="添加抄送"/>
      <Field  Key="删除抄送" Value="刪除抄送"/>
      <Field  Key="密送" Value="密送"/>
      <Field  Key="添加密送" Value="添加密送"/>
      <Field  Key="删除密送" Value="刪除密送"/>
      <Field  Key="发件人" Value="髮件人"/>
      <Field  Key="主题" Value="主題"/>
      <Field  Key="邮件内容" Value="正文"/>
      <Field  Key="请选择发送对象" Value="請選擇髮送對象"/>
      <Field  Key="附件选择" Value="附件選擇"/>
      <Field  Key="提醒" Value="提醒"/>
      <Field  Key="收条" Value="收條"/>
      <Field  Key="全选" Value="全選"/>
      <Field  Key="确定" Value="確&nbsp;定"/>
      <Field  Key="使用内部短信提醒" Value="使用內部短信提醒"/>
      <Field  Key="请求阅读收条" Value="請求閱讀收條 (收件人第一次閱讀郵件時，短信提醒髮件人)"/>
      <Field  Key="选择人员" Value="選擇人員"/>
      <Field  Key="个" Value="個"/>




      <Field  Key="工具栏添加" Value="添加"/>
      <Field  Key="工具栏修改" Value="編輯"/>
      <Field  Key="工具栏已读" Value="全部標為已讀"/>
      <Field  Key="工具栏转发" Value="轉髮"/>
      <Field  Key="工具栏返回" Value="返迴"/>
      <Field  Key="工具栏删除" Value="刪除"/>
      <Field  Key="工具栏彻底删除" Value="銷毀"/>

      <Field  Key="工具栏添加Title" Value="添加"/>
      <Field  Key="工具栏修改Title" Value="編輯"/>
      <Field  Key="工具栏已读Title" Value="全部標為已讀"/>
      <Field  Key="工具栏转发Title" Value="轉髮"/>
      <Field  Key="工具栏返回Title" Value="返迴"/>
      <Field  Key="工具栏删除Title" Value="刪除"/>
      <Field  Key="工具栏彻底删除Title" Value="銷毀"/>
      <Field  Key="请选择" Value="==請選擇=="/>
      <Field  Key="点击查邮件" Value="點擊查郵件"/>
      <Field  Key="时间列名" Value="時間"/>
      <Field  Key="发送于" Value="髮送於"/>
      <Field  Key="附件" Value="附件"/>

      <Field  Key="收件箱Menu" Value="收件箱"/>
      <Field  Key="发件箱Menu" Value="已髮送"/>
      <Field  Key="草稿箱Menu" Value="草稿箱"/>
      <Field  Key="已删除Menu" Value="已刪除"/>
      <Field  Key="写信Menu" Value="寫信"/>
      <Field  Key="收信Menu" Value="收信"/>
    </Pages>
  </Biao>
  <Biao Key="kqClassPlan" Value="员工班次">
    <Field  Key="操作失败，请重新加载页面" Value="操作失敗，請重新加載頁面！"/>
    <Field  Key="备注内容已经超过50个字符" Value="備注內容已經超過50個字符！"/>
    <Field  Key="经理备注内容已经超过50个字符" Value="經理備注內容已經超過50個字符！"/>
    <Field  Key="该员工还没有考勤号，是否现在编辑" Value="該員工還沒有考勤號，是否現茬編輯！"/>
    <Field  Key="不存在考勤号，请联系管理员编辑考勤号" Value="不存茬考勤號，請聯系管理員編輯考勤號！"/>
    <Field  Key="记录不存在，更新失败" Value="記錄不存茬，更新失敗！"/>
    <Field  Key="没有权限" Value="沒有權限！"/>
    <Pages>
      <Field  Key="备注" Value="備注"/>
      <Field  Key="经理备注" Value="經理備注"/>
      <Field  Key="详细记录" Value="詳細記錄"/>
    </Pages>
  </Biao>
  <Biao Key="GlobalSetting" Value="globalSetting">
    <Field Key="RequireErrorMsg" Value="{0} is required"></Field>
  </Biao>
</Validation>