<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MorSunEntities" connectionString="metadata=res://*/MorSun.csdl|res://*/MorSun.ssdl|res://*/MorSun.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=UserCenter;persist security info=True;user id=sa;password=123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>