<?xml version="1.0" encoding="utf-8"?>
<!--
    注意: 除了手动编辑此文件以外，您还可以使用 Web 管理工具来
    配置应用程序的设置。
    可以使用 Visual Studio 中的“网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在    machine.config.comments 中，
   该文件通常位于
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
  <appSettings>
    <!--登录验证码-->
    <add key="LoginVerificationCode" value="true"/>
    <!--注册验证码-->
    <add key="RegVerificationCode" value="true"/>
    <!--开户账号自动解锁-->
    <add key="UnlockingFlag" value="true" />
    <add key="UnlockingDay" value="1" />
    <!--开户注册-->
    <add key="Register" value="true" />
    <!--开户账号激活-->
    <add key="AccountActive" value="true"/>
    <add key="DefaultNickName" value="马客"/>

    <add key="RoleName" value="98dcfbe9-fa44-4832-8a1b-5a82de8d1abf" />  
    
    <!--域名-->
    <add key="ServiceDomain" value="http://127.0.0.1:168" />
    <add key="MediaDomain" value="http://127.0.0.1:168"/>
    <add key="ServiceMail" value="s5kdm@qq.com" />
    <add key="ServiceMailName" value="悟空打码" />
    <add key="ServiceMailPassword" value="C220C54A34828FBF12BB35E02AE35AE1" />
    <add key="ServiceMailGetPasswordTitle" value="悟空打码密码重新设置!" />
    <add key="ServiceMailConfirmTitle" value="悟空打码找回密码!" />    
    
    <add key="ServicePath" value="D:\Project\CostOA\MorSun\" />
    <add key="CompanyName" value="软件开发有限公司" />
    
    <add key="RolePrivAgran" value="省级&amp;设市区&amp;县(市,区)" />
    
    <add key="PositionName" value="13a9cf21-b0c0-49f4-af2b-6d6d529f01e0" />
    <add key="PageSize" value="12" />
    <add key="PopupMenu" value="6" />
    
    <add key="CustomerNum" value="KF" />
    
    <add key="TaskNumFormat" value="yyyyMMdd" />
    <add key="NumFormat" value="yyyyMMdd" />
    <add key="PassWordRecovery" value="false" />
    <add key="UpLoadReference_Image" value="4c04e97d-21db-4c71-bed9-4951f2f14d30" />
    <add key="UpLoadUserImageSize" value="512000" />
    
    
    <add key="VerificationCode" value="true" />
    <add key="DataBase" value="CXOA" />
    <add key="Panel" value="1" />
    <add key="KqRecordCount" value="6000" />
    <add key="删除" value="彻底删除" />
    <add key="批量删除" value="批量彻底删除" />
    <add key="回收站批量还原" value="批量还原" />
    <add key="回收站还原" value="还原" />
    <add key="批量删除到回收站" value="批量删除" />
    <add key="删除到回收站" value="删除" />
    <add key="编辑" value="编辑" />
    <add key="添加" value="添加" />
    <add key="批量添加" value="批量添加" />
    <add key="登录" value="登录" />
    <add key="退出" value="系统退出" />
    <add key="工作流虚拟目录" value="wf" />
    <add key="智能表单虚拟目录" value="ef" />
    <add key="智能报表虚拟目录" value="eb" />
    <add key="DeskTop" value="欢迎来到晨曦协同办公管理系统！" />
    <add key="MultiLogOn" value="false" />
    <add key="Folder" value="/UploadFile" />
    <add key="FileExt" value="*.jpg;*.gif;*.png" />
    <add key="FileDesc" value="Image Files(.JPG, .GIF, .PNG)" />
    <add key="QueueSizeLimit" value="999" />
    <add key="Multi" value="true" />
    <add key="Auto" value="false" />
    <add key="SimUploadLimit" value="999" />
    <add key="ButtonImg" value="/Content/images/btn_upload_view.gif" />
    <add key="SizeLimit" value="10485760" />
    <add key="Ccflow" value="ccf" />
    <add key="Domail" value="168.1.4.5" />
    <add key="KQRemark" value="true" />

    <!-- 以下配置都要移到 XMLConfig里去-->
    <!--<add key="ProjectApplication" value="4533934f-60ba-4f9f-ae8f-5fb1ed167e58" />-->  
    <add key="DefaultLanguage" value="zh_CN" />
    <add key="XmlValidationConfigName" value="/XmlConfig/[==Language==]/Validation.config" />
    
    
    <add key="ResourceDirectory " value="/Resource/" />
    <add key="AreaJsPath" value="~/Scripts/MorSun/Area.js" />
    <add key="MenuGroupID" value="93fe60d1-e4d5-413f-939f-1869cb3be726" />
   
    
    <!--<add key="OAHostAddress" value="http://168.1.4.5" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />-->
    
    <!--HF BPM工作流-->
    <add key="hfDomain" value="168.1.4.5:8080"/>
    <add key="Domain" value="168.1.4.5"/>
    <!--<add key="hfDomain" value="192.168.0.99:100"/>
    <add key="Domain" value="192.168.0.99:91"/>-->
  </appSettings>
  <connectionStrings/>
</configuration>
