<?xml version="1.0" encoding="utf-8"?>
<!--
    注意: 除了手动编辑此文件以外，您还可以使用 Web 管理工具来
    配置应用程序的设置。
    可以使用 Visual Studio 中的“网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在    machine.config.comments 中，
   该文件通常位于
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
  <appSettings>
    <!--登录验证码-->
    <add key="LoginVerificationCode" value="true"/>
    <!--注册验证码-->
    <add key="RegVerificationCode" value="true"/>
    <!--忘记密码验证码-->
    <add key="ForgetPassCode" value="true"/>
    <!--开启账号自动解锁-->
    <add key="UnlockingFlag" value="true" />
    <add key="UnlockingDay" value="1" />
    <!--开启注册-->
    <add key="Register" value="true" />
    <!--开启账号激活-->
    <add key="AccountActive" value="true"/>
    <add key="DefaultNickName" value="马可"/>

    <add key="RoleName" value="98dcfbe9-fa44-4832-8a1b-5a82de8d1abf" />  
    
    <!--域名-->
    
    <add key="ServiceName" value="邦马网"/>
    <add key="ServiceDomainName" value="bungma"/>
    <add key="ServiceDomain" value="www.bungma.com"/>
    <add key="MediaDomain" value="http://www.bungma.com"/>  
    <add key="GBServiceDomain" value="http://www.bungma.com"/>
    <add key="ServiceMailName" value="邦马网" />
    <add key="ServiceMailGetPasswordTitle" value="邦马网密码重新设置!" />
    <add key="ServiceMailConfirmTitle" value="邦马网找回密码!" />    
    
    <!--首页通知显示条数-->
    <add key="IndexNoticeCount" value="5"/>  
    
    
    <add key="ServicePath" value="D:\Project\CostOA\MorSun\" />
    <add key="CompanyName" value="软件开发有限公司" />
    
    <add key="RolePrivAgran" value="省级&amp;设市区&amp;县(市,区)" />
    
    <add key="PositionName" value="13a9cf21-b0c0-49f4-af2b-6d6d529f01e0" />
    <add key="PageSize" value="12" />
    <add key="PopupMenu" value="6" />    
    
    <add key="UpLoadReference_Image" value="4c04e97d-21db-4c71-bed9-4951f2f14d30" />
    <add key="UpLoadUserImageSize" value="512000" />
    
    
    <add key="KqRecordCount" value="6000" />

    <add key="添加" value="添加" />
    <add key="修改" value="修改" />
    <add key="删除" value="删除" />
    <add key="返回" value="返回" />
    <add key="查询" value="查询" />
    <add key="展开" value="展开" />
    <add key="收起" value="收起" />
    <add key="排序" value="排序" />
    <add key="移动" value="移动" />
    <add key="默认" value="默认" />
    <add key="回收站" value="回收站" />
    <add key="提交" value="提交" />
    <add key="彻底删除" value="彻底删除" />
    <add key="还原" value="还原" />
    <add key="登录" value="登录" />
    <add key="退出" value="退出" />
    <add key="全选" value="全选" />
    <add key="反选" value="反选" />
    <add key="认证" value="认证" />
    <add key="增加马币" value="增加马币" />
    <add key="追问" value="追问" />
    <add key="提交异议" value="提交异议" />

    <add key="BootStrapCssTable" value="green,purple,blue,red,yellow"/>
    <add key="BootStrapCssAlert" value=",alert-success,alert-info,alert-error"/>
    
    <!--SSO-->
    <!--<add key="SSOUrl" value="http://127.0.0.1:168/"/>
    <add key="AppsUrl" value="http://127.0.0.1:167/,http://127.0.0.1:169/,http://127.0.0.1:170/"/>-->

    <add key="RefuseUrl" value="http://www.vipvtp.com"/>
    
    <!--小提示链接地址-->
    <add key="TipsMB" value="/N/S/b5d8651e-061f-4e99-87ab-e412f5fe7e05"/><!--马币-->
    <add key="TipsBB" value="/N/S/9b11e772-fc22-4df2-b157-cbdea3af6dc9"/><!--邦币-->
    <add key="TipsBDB" value="/N/S/2a6b3ace-db77-4589-bbd7-2421fe9906ed"/><!--绑币-->
    <add key="TipsEXT" value="/N/S/f28ee5f6-38b4-47a0-8de4-60ddf760c5e6"/><!--推广链接-->
    <add key="DistributionRule" value="/H/I"/><!--答题分配规则-->
    <add key="RefusedAnswer" value="/H/I"/><!--拒绝答题分配规则-->
    <add key="CommondHelp" value="/H/I"/><!--答题分配规则-->
    <!--小提示链接地址-->
    
    <!--微信返回菜单链接地址-->
    <add key="WXQETip" value="/New/Detail"/><!--提问帮助-->
    
    <!--微信返回菜单链接地址-->
    
    <add key="Folder" value="/UploadFile" />
    <add key="FileExt" value="*.jpg;*.gif;*.png" />
    <add key="FileDesc" value="Image Files(.JPG, .GIF, .PNG)" />
    <add key="QueueSizeLimit" value="999" />
    <add key="Multi" value="true" />
    <add key="Auto" value="false" />
    <add key="SimUploadLimit" value="999" />
    <add key="ButtonImg" value="/Content/images/btn_upload_view.gif" />
    <add key="SizeLimit" value="10485760" />
    
    <!-- 以下配置都要移到 XMLConfig里去-->
    <!--<add key="ProjectApplication" value="4533934f-60ba-4f9f-ae8f-5fb1ed167e58" />-->  
    <add key="DefaultLanguage" value="zh_CN" />
    <add key="XmlValidationConfigName" value="/XmlConfig/[==Language==]/Validation.config" />    
    
    <add key="ResourceDirectory" value="/Resource/" />
    <add key="AreaJsPath" value="~/Scripts/MorSun/Area.js" />
    <add key="MenuGroupID" value="93fe60d1-e4d5-413f-939f-1869cb3be726" />  
  </appSettings>
  <connectionStrings/>
</configuration>
