@model IndexModel
@{
    ViewBag.Title = "ServiceName".GX();
    HttpCookie Cookie_login = Request.Cookies["HIC"];
    var bic = Cookie_login["HIC"].ToString();
}


<section class="featuredwhite">
    <div class="content-wrapper clear-fix">
        <p class="logonP">推广链接： <span class="logonSpanReight"><a href="@("ServiceDomain".GHU() + "TipsEXT".GX())">@Html.Partial("_Lamp")</a></span></p>
        <span class="logonSpanGreen">@("ServiceDomain".GHU())/H/I/</span>
        <span class="logonSpanGreen">@(bic)</span>
    </div>
</section>


    
