html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;   
    border-top: solid 10px #000; 
    color: #222;
    font-size: 1em;
    font-family: 微软雅黑,宋体,Tahoma,Geneva,sans-serif;
    margin: 0;
    padding: 0;
}

a {    
    color: #bd0124;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;   
    text-decoration: none;    
}

    a:link, a:visited,
    a:active, a:hover {        
        color: #bd0124;
    }

    a:hover {        
        text-decoration: underline;
    }

img{border:none;}

header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }


/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
}

#body {
    background-color: #fff;
    clear: both;
    /*padding-bottom: 35px;*/
}

.main-content {
    background: url("../Images/accent.png") no-repeat;
    padding-left: 10px;
    padding-top: 5px;
}

.featured + .main-content {
    background: url("../Images/yelloAccent.png") no-repeat 900px 0px;
    background-color:#303030;
}



header .content-wrapper {
    padding-top: 10px;   
    height:58px;  
}

footer {
    clear: both;
    background-color: #2a2a2a;
    font-size: .8em;
    height: 200px;
    padding-top:10px;
}

footer .float-none {
    float:none;
    margin:0 auto;
    margin-bottom: 10px;
    text-align:center;
}

footer .flink {
        font-size:1em;
        margin: 10px auto;
        text-align :center;        
    }
footer .flink a, .flink {
    color:#7e7e7e;
}

    footer .fExplan {
        color:#5e5e5e;
        font-family: 宋体,Tahoma,Geneva,sans-serif;
    }

/*Right Link*/
#id {
    background: url("../images/pf.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#zt_pf {
    background-image: url("../images/pf.png");
    height: 300px;
    padding: 5px;
    position: fixed;
    right: 10px;
    top: 200px;
    width: 100px;
    z-index: 100;
}

#zt_pf a {
    display: block;
    float: left;
    height: 75px;
    width: 100px;
}

#zt_pf a:hover {
    background-image: url("../images/pf2.png");
    background-repeat:no-repeat;
    display: block;
}
#zt_pf a.pf1:hover {
    background-position: 0 0;
}
#zt_pf a.pf2:hover {
    background-position: 0 -75px;
}
#zt_pf a.pf3:hover {
    background-position: 0 -150px;
}

#back-to-top {
    height: 60px;
    position: fixed;
    right: 35px;
    top: 550px;
    width: 60px;
    z-index: 100;
}
#back-to-top a {
    background-image: url("../images/top.png");
    background-repeat:no-repeat;
    display: block;
    height: 60px;
    width: 60px;
}
#back-to-top a:hover {
    background-image: url("../images/top2.png");
    background-repeat:no-repeat;
}

/* site title
----------------------------------------------------------*/
.site-title {
    color: #333;
    font-family: 微软雅黑,宋体,Tahoma,Geneva,sans-serif;
    font-size: 2.3em;
    margin: 0;
}

.site-title a, .site-title a:hover, .site-title a:active {
    background: none;
    color: #333;
    outline: none;
    text-decoration: none;
}

header .logohspan {
         margin-top:15px;
         margin-left:10px; 
         float:left;
    }

header .logoyspan {
         margin-top:10px; 
         margin-left:-35px; 
         float:left; 
         font-size:12px;
    }

header .telStringSpan {
    color: #E72F2F;
    font-family: 微软雅黑,宋体,Tahoma,Geneva,sans-serif;
    font-size: 1.0em;
    margin: 0;
    margin-left: 50px;
}

header .telSpan {
    color: #99312E;
    font-family: 微软雅黑,宋体,Tahoma,Geneva,sans-serif;
    font-size: 2.0em;
    margin: 0;
}


/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
}

    #login a {
        background-color: #d3dce0;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }

    #login a.username {
        background: none;
        margin: 0;
        padding: 0;
        text-decoration: underline;
    }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }

/*-----------tablelogon-----------*/

.tableLogon {
    color:#333;
}

.logonText
{    
    border: 1px solid #dedede;
    height: 30px;
    width: 290px;
    margin: 5px 0px 5px 0px;
    
}
.logonYZMText
{    
    border: 1px solid #dedede;
    height: 30px;
    width: 95px;
    margin: 5px 107px 5px 0px;    
}

.logonBtn.green {
    background-color: #35aa47;
    color: white;    
    text-shadow: none;
    float:right;
    margin-right:0 auto;
    width:320px;
}
    .logonBtn.green:hover {
        background-color:#1d943b;
    }

.tdHR{
    border-bottom:solid 1px #dedede;
}
/* menu
----------------------------------------------------------*/
ul#menu {
    /*font-size: 1.3em;*/
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    text-align: right;
}

    ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 15px;
    }

        ul#menu li a {
            background: none;
            color: #777;
            text-decoration: none;
        }

        ul#menu li a:hover {
            color: #333;
            text-decoration: none;
        }


/* page elements
----------------------------------------------------------*/
/* featured */
.featured {
    background-color: #bd0124;
}

    .featured .content-wrapper {
        background-color: #bd0124;        
        color: #1a1011;
        padding: 20px 40px 30px 40px;
        height:400px;
    }
        .featured .content-wrapper .content-login {
            /*border:3px solid #332926;*/
            background-color:#fff;
            float:right;
            width:330px;
            height:380px;
            padding:10px 20px;
        }
            .featured .content-wrapper .content-login hgroup.title h2 {
                color:#333;
            }

        .featured hgroup.title h1, .featured hgroup.title h2 {
            color: #fff;
        }

        .featured p {
            font-size: 1.1em;
        }

/*voiced*/
.voicedRedPewterR {
    background-color:#303030;
}

    .voicedRedPewterR .content-wrapper {
        background-color: #303030;  
        background: url("../Images/RedLineRightWhiteLogo.png") no-repeat 800px 0px;      
        color: #1a1011;
        padding: 20px 40px 30px 40px;
        height:600px;
    }

.voicedRedPewterL {
    background-color:#303030;
}

    .voicedRedPewterL .content-wrapper {
        background-color: #303030;  
        background: url("../Images/RedLineLeftWhiteLogo.png") no-repeat 800px 0px;      
        color: #1a1011;
        padding: 20px 40px 30px 40px;
        height:600px;
    }

.voicedPewterWhiteR {
    background-color:#fff;
}

    .voicedPewterWhiteR .content-wrapper {
        background-color: #fff;  
        background: url("../Images/PewterLineRightRedLogo.png") no-repeat 800px -200px;      
        color: #1a1011;
        padding: 20px 40px 30px 40px;
        height:600px;
    }

.voicedPewterWhiteL {
    background-color:#fff;
}

    .voicedPewterWhiteL .content-wrapper {
        background-color: #fff;  
        background: url("../Images/PewterLineLeftRedLogo.png") no-repeat 800px -200px;      
        color: #1a1011;
        padding: 20px 40px 30px 40px;
        height:600px;
    }

.voicedWhiteRedR {
    background-color:#bd0124;
}

    .voicedWhiteRedR .content-wrapper {
        background-color: #bd0124;  
        background: url("../Images/WhiteLineRightWhiteLogo.png") no-repeat 800px -100px;      
        color: #1a1011;
        padding: 20px 40px 30px 40px;
        height:600px;
    }

.voicedWhiteRedL {
    background-color:#bd0124;
}

    .voicedWhiteRedL .content-wrapper {
        background-color: #bd0124;  
        background: url("../Images/WhiteLineLeftWhiteLogo.png") no-repeat 800px -100px;      
        color: #1a1011;
        padding: 20px 40px 30px 40px;
        height:600px;
    }



/* page titles */
hgroup.title {
    margin-bottom: 10px;
}

hgroup.title h1, hgroup.title h2 {
    display: inline;
}

hgroup.title h2 {
    font-weight: normal;
    margin-left: 3px;
}

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

.voiceDiv {
    height:32px;
}

/*ICON样式集合*/
.iconUser,.iconPwd,.iconMa{ background-position:5px center;background-repeat:no-repeat}
.iconUser{background-image:url(../Images/iconUser.png);padding-left:25px;}
.iconPwd{background-image:url(../Images/iconPWD.png);padding-left:25px;}
.iconMa{background-image:url(../Images/iconMa.png);padding-left:25px;}
.iconVoiceRed {background:url(../Images/iconVoiceRed.png) no-repeat 8px center;padding-left:32px; }
.iconVoiceOrange {background:url(../Images/iconVoiceOrange.png) no-repeat 8px center;padding-left:32px; }
.iconVoiceWhite {background:url(../Images/iconVoiceWhite.png) no-repeat 8px center;padding-left:32px; }

/* ordered list */
ol.round {
    list-style-type: none;
    padding-left: 0;
}

    ol.round li {
        margin: 25px 0;
        padding-left: 45px;
    }

        ol.round li.zero {
            background: url("../Images/orderedList0.png") no-repeat;
        }

        ol.round li.one {
            background: url("../Images/orderedList1.png") no-repeat;
        }

        ol.round li.two {
            background: url("../Images/orderedList2.png") no-repeat;
        }

        ol.round li.three {
            background: url("../Images/orderedList3.png") no-repeat;
        }

        ol.round li.four {
            background: url("../Images/orderedList4.png") no-repeat;
        }

        ol.round li.five {
            background: url("../Images/orderedList5.png") no-repeat;
        }

        ol.round li.six {
            background: url("../Images/orderedList6.png") no-repeat;
        }

        ol.round li.seven {
            background: url("../Images/orderedList7.png") no-repeat;
        }

        ol.round li.eight {
            background: url("../Images/orderedList8.png") no-repeat;
        }

        ol.round li.nine {
            background: url("../Images/orderedList9.png") no-repeat;
        }

/* content */
article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

    aside ul {
        list-style: none;
        padding: 0;
    }

        aside ul li {
            background: url("../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }

.label {
    font-weight: 700;
}

/* login page */
#loginForm {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 55%;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

    #loginForm .validation-summary-errors ul {
        margin: 0;
        padding: 0;
    }

    #loginForm .validation-summary-errors li {
        display: inline;
        list-style: none;
        margin: 0;
    }

    #loginForm input {
        width: 250px;
    }

    #loginForm input[type="checkbox"],
    #loginForm input[type="submit"],
    #loginForm input[type="button"],
    #loginForm button {
        width: auto;
    }

    #loginForm .loginYZMText
    { 
    width: 65px;  
    margin-right: 95px;  
    }

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom:  5px;
    }

#socialLoginList button {
    margin-bottom: 12px;
}

#logoutForm {
    display: inline;
}

/* contact */
.contact h3 {
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

label {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
}

label.checkbox {
    display: inline;
}

input, textarea {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 300px;
}

textarea {
    font-family: inherit;
    width: 500px;
}

    input:focus, textarea:focus {
        border: 1px solid #7ac0da;
    }

    input[type="checkbox"] {
        background: transparent;
        border: inherit;
        width: auto;
    }

    input[type="submit"],
    input[type="button"],
    button {
        background-color: #d3dce0;
        border: 1px solid #787878;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 600;
        padding: 7px;
        margin-right: 8px;
        width: auto;
    }

    td input[type="submit"],
    td input[type="button"],
    td button {
        font-size: 1em;
        padding: 4px;
        margin-right: 4px;
    }

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}


/* tables
----------------------------------------------------------*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 0 none;
}

th {
    font-size: 1.2em;
    text-align: left;
    border: none 0px;
    padding-left: 0;
}

    th a {
        display: block;
        position: relative;
    }

    th a:link, th a:visited, th a:active, th a:hover {
        color: #333;
        font-weight: 600;
        text-decoration: none;
        padding: 0;
    }

    th a:hover {
        color: #000;
    }

    th.asc a, th.desc a {
        margin-right: .75em;
    }

    th.asc a:after, th.desc a:after {
        display: block;
        position: absolute;
        right: 0em;
        top: 0;
        font-size: 0.75em;
    }

    th.asc a:after {
        content: '▲';
    }

    th.desc a:after {
        content: '▼';
    }

td {
    padding: 0.25em 2em 0.25em 0em;
    border: 0 none;
}

tr.pager td {
    padding: 0 0.25em 0 0;
}


/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right {
        float: none;
    }

    /* logo */
    header .site-title {
        margin: 10px;
        text-align: center;
        height:65px;
    }

    /* login */
    #login {
        font-size: .85em;
        margin: 0 0 12px;
        text-align: center;
    }

        #login ul {
            margin: 5px 0;
            padding: 0;
        }

        #login li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a {
            background: none;
            color: #999;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }

        #login a:hover {
            color: #333;
        }

    /* menu */
    nav {
        margin-bottom: 5px;
    }

    ul#menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        ul#menu li {
            margin: 0;
            padding: 0;
        }


    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 10px;
    }

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }

    /* ordered list */
    ol.round {
        list-style-type: none;
        padding-left: 0;
    }

    ol.round li {
        padding-left: 10px;
        margin: 25px 0;
    }

    ol.round li.zero,
    ol.round li.one,
    ol.round li.two,
    ol.round li.three,
    ol.round li.four,
    ol.round li.five,
    ol.round li.six,
    ol.round li.seven,
    ol.round li.eight,
    ol.round li.nine {
        background: none;
    }

     /* features */
     section.feature {
        float: none;
        padding: 10px;
        width: auto;
     }

        section.feature img {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

    /* forms */
    input {
        width: 90%;
    }

    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }


    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }

        footer {
            text-align: center;
            height: auto;
            padding: 10px 0;
        }

        footer p {
            margin: 0;
        }    
}
