@if (Request.IsAuthenticated)
{
    var user = MorSun.Controllers.BasisController.CurrentAspNetUser;
    <text>
        你好，@Html.ActionLink(user.wmfUserInfo == null ? user.UserName : user.wmfUserInfo.NickName, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "管理" })!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">注销</a>
        }
        <a href="javascript:AddFavorite('http://www.5kdm.com','悟空打码')" onclick="AddFavorite('http://www.5kdm.com', '悟空打码')"> 收藏</a>
    </text>
} else {
        if ("Register".GX() == "true")
        {    
        @Html.ActionLink("注册", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
        }
        @Html.ActionLink("登录", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    <a href="javascript:AddFavorite('http://www.5kdm.com','悟空打码')" onclick="AddFavorite('http://www.5kdm.com', '悟空打码')"> 收藏</a>
}
