@model MorSun.Model.LoginModel
<div class="divLogon" style="height:86px;">
    @if (!Request.IsAuthenticated)
    {
        using (Html.BeginForm("AjaxLogin", "Account", new { returnUrl = "/home/index" }, FormMethod.Post, new { id = "logonForm" }))
        {
            @Html.AntiForgeryToken()
        <table class="tableLogon">
            <tr>
                <th>
                    @Html.TextBoxFor(m => m.UserName)     
                </th>
                <td style="width: 100px;">
                    <label>
                        <input type="checkbox" />
                        记住我</label>
                </td>
            </tr>
            <tr>
                <th>
                    @Html.PasswordFor(m => m.Password)
                   
                </th>
                <td>
                    <input type="button" tabindex="3" id="logonBtn" value="登录" class="logonBtn" />
                </td>
            </tr>
        </table>
        }
    }
    else
    {
        <p style="margin-left:10px;">欢迎你：@User.Identity.Name</p>
        <p style="margin-left:10px;"><a style="margin-right:50px;" href="/admin/home/index">进入后台</a>  <a href="/account/logoff">【退出】</a></p>
        
    }
</div>

